@model BiTech.Library.Models.ChucVuModels

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<link href="~/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />

<div class="Title">Sửa</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.MaChucVu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaChucVu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaChucVu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenChucVu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenChucVu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenChucVu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="button" value="Xóa" class="btn btn-danger" onclick="XoaItem('@Model.Id')" />
                <input type="button" value="Trở lại" onclick="location.href = '/ChucVu';" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script src="~/bower_components/sweetalert/dist/sweetalert.min.js"></script>
@section scripts{
    <script>
        function XoaItem(id) {
            swal({
                title: " Bạn có muốn xóa?",
                text: "Bạn sẽ không thể khôi phục lại sau khi xóa!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Có",
                cancelButtonText: "Không",
                closeOnConfirm: false,
                closeOnCancel: true
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: 'POST',
                        url: "/ChucVu/Delete",
                        data: { "Id": id },
                        success: function (resultData) {
                            swal({
                                title: "Bạn đã xóa thành công!",
                                type: "success",
                                showCancelButton: false,
                                confirmButtonText: "OK",
                                closeOnConfirm: false
                            },
                            function (isConfirm) {
                                window.location.href = '/ChucVu/Index';
                            });
                        }
                    });
                }
            });
        }
    </script>
}
