@model IEnumerable<BiTech.Library.DTO.ChucVu>
@{
    ViewBag.Title = "Danh Sách Chức vụ";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="Title">Danh Sách Chức vụ</div>
<div class="clearfix">

    <a href="@Url.Action("Create")" class="btn btn-primary">Thêm Mới</a>
    <div class="book_content clearfix">
        <table class="table table-hover table-bordered" border="1">
            <thead>
                <tr class="table-info">
                    <th>Mã Chức vụ</th>
                    <th>Tên Chức vụ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.MaChucVu</td>
                        <td>@item.TenChucVu</td>
                        <td><a class="color-white btn btn-outline-primary btn-sm" href="@Url.Action("Edit","ChucVu", new { id = item.Id })">Sửa <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a href="@Url.Action("Create")" class="btn btn-primary">Thêm Mới</a>
</div>


