@model BiTech.Library.Models.SachUploadModel
@{
    /**/

    ViewBag.Title = "Chi tiết sách";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="Title">Chi tiết Sách</div>

<link href="~/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />
<link href="~/Content/tagsinput/ng-tags-input.css" rel="stylesheet" />
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/ng-tags-input.js"></script>
<script src="~/app/ngTagInputAngular.js"></script>

<div class="row">

    <div class="col-md-9">
        <div ng-app="LibraryApp" class="clearfix">


            <input name="SachDTO.Id" id="Data-IDsach" value="@Model.SachDTO.Id" hidden />
            <div class="form-group row">
                <label class="col-form-label col-sm-3 form-label" for="NamSanXuat">Mã kiễm soát:</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.SachDTO.MaKiemSoat, new { @class = "form-control form-control-sm", @id = "NamSanXuat", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-3 form-label" for="NamSanXuat">Loại sách:</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.SachDTO.DDC, new { @class = "form-control form-control-sm", @id = "NamSanXuat", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-3 form-label" for="tensach">Tên Sách:</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.SachDTO.TenSach, new { @class = "form-control form-control-sm", @id = "tensach", @readonly = "readonly" })
                </div>
            </div>


            <div class="form-group row">
                <label class="col-form-label col-sm-3 form-label" for="sotrang">Số Trang:</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.SachDTO.SoTrang, new { @class = "form-control form-control-sm", @id = "sotrang", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-3 form-label" for="NamSanXuat">Năm Xuất Bản:</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.SachDTO.NamXuatBan, new { @class = "form-control form-control-sm", @id = "NamSanXuat", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-3 form-label" for="GiaBia">Giá Bìa:</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.SachDTO.GiaBia, new { @class = "form-control form-control-sm", @id = "GiaBia", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-3 form-label" for="PhiMuonSach">Phí mượn sách:</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.SachDTO.PhiMuonSach, new { @class = "form-control form-control-sm", @id = "PhiMuonSach", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-3 form-label" for="NamSanXuat">Nước xuất xứ:</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.SachDTO.XuatXu, new { @class = "form-control form-control-sm", @id = "NamSanXuat", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-3 form-label" for="NamSanXuat">Người biên dịch:</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.SachDTO.NguoiBienDich, new { @class = "form-control form-control-sm", @id = "NamSanXuat", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-3 form-label" for="NamSanXuat">lần Xuất Bản:</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.SachDTO.TaiBan, new { @class = "form-control form-control-sm", @id = "NamSanXuat", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-3 form-label" for="TomTat">Tóm Tắt:</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.SachDTO.TomTat, new { @class = "form-control form-control-sm", @id = "TomTat", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.SachDTO.TomTat)
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-3 form-label" for="TomTat">Bìa Sách:</label>
                <div class="col-sm-6">
                    <img id="blah" src="@(!string.IsNullOrEmpty(Model.SachDTO.LinkBiaSach) ? Model.SachDTO.LinkBiaSach : "/Assets/Images/DefaultBookCover.jpg")" alt="Bìa sách" style="width:220px" />
                  
                </div>
            </div>
        </div>
    </div>
</div>



