@model PagedList.IPagedList<BiTech.Library.Models.BookView>
@using PagedList.Mvc;
@*@model BiTech.Library.Models.ListBooksModel*@
@{
    ViewBag.Title = "Index";
    var listSach = ViewBag.ListSach;
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var TLS = (IEnumerable<BiTech.Library.DTO.TheLoaiSach>)ViewBag.theLoaiSach;
    var TG = (IEnumerable<BiTech.Library.DTO.TacGia>)ViewBag.tacGia;
    var NXB = (IEnumerable<BiTech.Library.DTO.NhaXuatBan>)ViewBag.NXB;
}
<div class="Title">Danh Sách</div>
<div class="clearfix">
    <form action="/Search/Index" class="clearfix" id="search_short">
        <div class="container clearfix col-md-8">
            <div class="col-sm-12 font-weight-bold pl-0">Tìm kiếm: </div>
            <div class="form-group row clearfix">
                <div class="input-group input-group-sm col-md-12">
                    <input class="form-control form-control-sm" type="text" id="txtKeyword" name="Keyword" placeholder="Nhập tên sách bạn muốn tìm kiếm.!">
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group row clearfix">
                <div class="col-md-4 ">
                    <select class="form-control form-control-sm" name="TheLoaiSach" id="ddlCategorySearch">
                        <option value="">--Thể Loại Sách--</option>
                        @foreach (var tls in TLS)
                        {
                            <option value="@tls.Id" @((@tls.Id == @ViewBag.theLoaiSach_selected) ? "selected" : " ")>@tls.TenTheLoai</option>
                        }
                    </select>
                </div>
                <div class="col-md-4">
                    <select class="form-control form-control-sm" name="TenTacGia" id="ddlCategorySearch">
                        <option value="">--Tác Giả--</option>
                        @foreach (var tg in TG)
                        {
                            <option value="@tg.Id" @((@tg.Id == @ViewBag.tacGia_selected) ? "selected" : " ")>@tg.TenTacGia</option>
                        }
                    </select>
                </div>
                <div class="col-md-4">
                    <select class="form-control form-control-sm" name="TenNXB" id="">
                        <option value="">--Nhà Xuất Bản--</option>
                        @foreach (var nxb in NXB)
                        {
                            <option value="@nxb.Id" @((@nxb.Id == @ViewBag.NXB_selected) ? "selected" : " ")>@nxb.Ten</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-12 font-weight-bold pl-3">Sắp xếp: </div>
                <div class="col-md-4 col-sm-12  form-group mt-1 mb-1">
                    @{
                        Dictionary<string, object> arry_short = new Dictionary<string, object>();
                        arry_short.Add("1", Html.Raw("Thứ tự A-Z &#xf175;"));
                        arry_short.Add("11", Html.Raw("Thứ tự Z-A &#xf176;"));
                        arry_short.Add("2", Html.Raw("Mã kiểm soát &#xf175;"));
                        arry_short.Add("22", Html.Raw("Mã kiểm soát &#xf176;"));
                        arry_short.Add("3", Html.Raw("Thời gian nhập sách &#xf175;"));
                        arry_short.Add("33", Html.Raw("Thời gian nhập sách &#xf176;"));
                        arry_short.Add("4", Html.Raw("Năm xuất bản &#xf175;"));
                        arry_short.Add("44", Html.Raw("Năm xuất bản &#xf176;"));
                    }
                    <select class="form-control form-control-sm" name="SapXep" id="SapXep" onchange="$('#search_short').submit() ">
                        <option value="">--Sắp xếp--</option>
                        @foreach (var item_sx in arry_short)
                        {
                            <option value="@item_sx.Key" @((@item_sx.Key == @ViewBag.SapXep_selected) ? "selected" : " ")>@item_sx.Value</option>
                        }
                    </select>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

    </form>
    @{int i = 1;}
    <div class="book_content clearfix">
        @foreach (var item in Model)
        {
            <div Class="book_box_v3 clearfix">
                <div class="container-box-window clearfix">
                    <div class="top">
                        <div class="title" title="@item.SachDTO.TenSach"> <span>@(i + (ViewBag.pages - 1) * ViewBag.pageSize)</span> @item.SachDTO.TenSach</div>
                    </div>

                    <div class="content-box-window clearfix">
                        <div class="book_image">
                            <img src="@(string.IsNullOrEmpty(item.SachDTO.LinkBiaSach) == false ? item.SachDTO.LinkBiaSach : "/Content/Images/book.png" )"
                                 onerror="this.src = '/Content/Images/book.png';">
                        </div>
                        <div class="book_cell_information clearfix width_left">

                            <span>
                                <span class="book_title_information">Mã kiểm soát:</span>
                                @item.SachDTO.MaKiemSoat
                            </span>

                            <span>
                                <span class="book_title_information">Tác giả:</span>
                                @item.Ten_TacGia
                            </span>

                            <span>
                                <span class="book_title_information">ISBN:</span>
                                @item.SachDTO.ISBN
                            </span>

                            <span>
                                <span class="book_title_information">Ngôn ngữ:</span>
                                @item.Ten_NgonNgu
                            </span>

                            <span>
                                <span class="book_title_information">Năm xuất bản:</span>
                                @item.SachDTO.NamXuatBan
                            </span>

                            <span>
                                <span class="book_title_information">Tổng:</span>
                                @item.SachDTO.SoLuongTong
                            </span>

                            <span>
                                <span class="book_title_information">Kho:</span>
                                @item.SachDTO.SoLuongConLai
                            </span>

                            <a href="@Url.Action("Edit", new { id=item.SachDTO.Id })"
                               class="btn btn-primary btn-sm"
                               style="position: absolute; bottom: 10px; right: 10px; font-size: 15px">Chi tiết</a>

                        </div>
                    </div>
                </div>
            </div>

            { i++; }
        }
        <div class="clearfix"></div>
        <br />
        @if (@ViewBag.number > 30)
        {
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "customer_area" }))
        }
    </div>

</div>
@section Scripts{
    <script src="~/Scripts/AutocompleteSach.js"></script>
}
