@model BiTech.Library.Models.SachUploadModel
@{
    /**/

    ViewBag.Title = "Chi tiết sách";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="Title">Thông tin chi tiết sách</div>

<link href="~/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />
<link href="~/Content/tagsinput/ng-tags-input.css" rel="stylesheet" />
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/ng-tags-input.js"></script>
<script src="~/app/ngTagInputAngular.js"></script>
<style>
    .form-control{
        background: #fff !important;
    }
    .form-control:focus{
        box-shadow: none;
        border-color: #CDD3D9;
    }
</style>
<div class="row">

    <div class="col-md-12">
        <div ng-app="LibraryApp" class="clearfix">


            <input name="SachDTO.Id" id="Data-IDsach" value="@Model.SachDTO.Id" hidden />

            <div class="form-group row m-1">
                <div class="col-sm-6">
                    <div class="form-group row m-1">
                        <label class="col-form-label col-sm-4 form-label text-md-left" for="TomTat">Bìa sách:</label>
                        <div class="col-sm-8">
                            <img id="blah" src="@(!string.IsNullOrEmpty(Model.SachDTO.LinkBiaSach) ? Model.SachDTO.LinkBiaSach : "/Assets/Images/DefaultBookCover.jpg")" alt="Bìa sách" style="max-width:100%; width:300px" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row m-1">
                <div class="col-sm-6">
                    <div class="form-group row m-1">
                        <label class="col-form-label col-sm-4 form-label text-md-left" for="MaKiemSoat">Mã kiểm soát:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.SachDTO.MaKiemSoat, new { @class = "form-control form-control-sm", @id = "NamSanXuat", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row m-1">
                        <label class="col-form-label col-sm-4 form-label text-md-left" for="TenSach">Tên sách:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.SachDTO.TenSach, new { @class = "form-control form-control-sm", @id = "tensach", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row m-1">
                <div class="col-sm-6">
                    <div class="form-group row m-1">
                        <label class="col-form-label col-sm-4 form-label text-md-left" for="DDC">Loại sách:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.SachDTO.DDC, new { @class = "form-control form-control-sm", @id = "NamSanXuat", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row m-1">
                        <label class="col-form-label col-sm-4 form-label text-md-left" for="SoTrang">Số trang:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.SachDTO.SoTrang, new { @class = "form-control form-control-sm", @id = "sotrang", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row m-1">
                <div class="col-sm-6">
                    <div class="form-group row m-1">
                        <label class="col-form-label col-sm-4 form-label text-md-left" for="NamXuatBan">Năm xuất bản:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.SachDTO.NamXuatBan, new { @class = "form-control form-control-sm", @id = "NamSanXuat", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row m-1">
                        <label class="col-form-label col-sm-4 form-label text-md-left" for="GiaBia">Giá bìa:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.SachDTO.GiaBia, new { @class = "form-control form-control-sm", @id = "GiaBia", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group row m-1">
                <div class="col-sm-6">
                    <div class="form-group row m-1">
                        <label class="col-form-label col-sm-4 form-label text-md-left" for="PhiMuonSach">Phí mượn sách:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.SachDTO.PhiMuonSach, new { @class = "form-control form-control-sm", @id = "PhiMuonSach", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row m-1">
                        <label class="col-form-label col-sm-4 form-label text-md-left" for="XuatXu">Nước xuất xứ:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.SachDTO.XuatXu, new { @class = "form-control form-control-sm", @id = "NamSanXuat", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row m-1">
                <div class="col-sm-6">
                    <div class="form-group row m-1">
                        <label class="col-form-label col-sm-4 form-label text-md-left" for="NguoiBienDich">Người biên dịch:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.SachDTO.NguoiBienDich, new { @class = "form-control form-control-sm", @id = "NamSanXuat", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row m-1">
                        <label class="col-form-label col-sm-4 form-label text-md-left" for="TaiBan">Lần xuất bản:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.SachDTO.TaiBan, new { @class = "form-control form-control-sm", @id = "NamSanXuat", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row m-1">
                <div class="col-sm-12">
                    <div class="form-group row m-1">
                        <label class="col-form-label col-sm-12 form-label text-md-left" for="TomTat">Tóm tắt:</label>
                        <div class="col-sm-12">
                            @Html.TextAreaFor(m => m.SachDTO.TomTat, new { @class = "form-control form-control-sm", @id = "TomTat", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.SachDTO.TomTat)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



