@model BiTech.Library.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}

<h2 class="text-center">Đổi mật khẩu</h2>
<div class="container">

    @using (Html.BeginForm("ChangePassword", "GiaoVien", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="text-success">@ViewBag.Sussces</div>
        <div class="text-danger">@ViewBag.Error</div>
        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control form-control-sm", @maxlength = "40" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control form-control-sm", @maxlength = "40" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-sm", @maxlength = "40" })
            </div>
        </div>
        <div class="form-group row">

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-sm btn-primary" value="Lưu" />
                <input type="button" class="btn btn-sm btn-default" value="Trở lại" onclick="window.location='@Url.Action("Details", "GiaoVien",new { idUser=Model.Id})'" />
            </div>

        </div>
    }
</div>
