@model BiTech.Library.Models.UserViewModel
@{
    ViewBag.Title = "Details";
}
<link href="~/Content/AvatarDetail.css" rel="stylesheet" />
<h2>Thông tin giáo viên: @Model.Ten</h2>
<button type="button" class="btn btn-sm btn-primary" onclick="window.location='@Url.Action("Index", "GiaoVien")'">
    <i class="fa fa-arrow-circle-left" style="padding-right: 4px;font-size: 17px;"></i>Trở lại
</button>
<div class="container">
    <div class="row">
        <div>
            <img class="avatar_detail" src="@Html.Raw(Model.LinkAvatar)" />       
        </div>       
        <div class="col-md-6">
            <table>
                <tr>
                    <td class="Title_info">Tên User:</td>
                    <td class="Detail_info">@Model.UserName</td>                    
                </tr>
                <tr>
                    <td class="Title_info">Mã số giáo viên:</td>
                    <td class="Detail_info"> @Model.MaSoThanhVien</td>
                </tr>
                <tr>
                    <td class="Title_info">Họ và tên:</td>
                    <td class="Detail_info">@Model.Ten</td>
                </tr>
                <tr>
                    <td class="Title_info">Giới tính:</td>
                    <td class="Detail_info">@Model.GioiTinh</td>
                </tr>
                <tr>
                    <td class="Title_info">Ngày sinh:</td>
                    <td class="Detail_info">@Model.NgaySinh.ToString("dd-MM-yyyy")</td>
                </tr>
                <tr>
                    <td class="Title_info">Lớp học:</td>
                    <td class="Detail_info">@Model.LopHoc</td>
                </tr>
                <tr>
                    <td class="Title_info">Niên khóa:</td>
                    <td class="Detail_info">@Model.NienKhoa</td>
                </tr>
                <tr>
                    <td class="Title_info">Địa chỉ:</td>
                    <td class="Detail_info">@Model.DiaChi</td>
                </tr>
                <tr>
                    <td class="Title_info">Số điện thoại:</td>
                    <td class="Detail_info">@Model.SDT</td>
                </tr>             
            </table>           
        </div>
    </div>
    <img src="@Model.QRLink" alt="Mã QR" style="width:auto" />
</div>
<table class="table table-hover table-bordered">
    <thead>
        <tr class="table-info">
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a class="color-white btn btn-sm btn-primary" href="@Url.Action("_Edit", new { @id = @Model.Id })">
                    <i style="font-size:20px" class="fa">&#xf044;</i> Sửa thông tin
                </a>
                <a class="color-white btn btn-sm btn-primary" href="@Url.Action("ChangePassword", new { @idUser = @Model.Id })">
                    <i style="font-size:20px" class="fa">&#xf044;</i> Đổi mật khẩu
                </a>
            </td>
        </tr>
    </tbody>
</table>
