@model BiTech.Library.Models.ImportResultViewModel
@{
    Layout = null;

    bool HasError = ViewBag.HasError;
    var ColumnOptions = ViewBag.ColumnOptions;

    string[] columnOptionArray = ColumnOptions.Split('|');

}

@if (HasError == false)
{
    if (Model.TotalValidEntry > 0)
    {
        <div class="alert alert-success" role="alert"> <strong>Đã xong! </strong> Đã thêm mới <b>@Model.TotalValidEntry</b> tài khoản vào hệ thống. <b><a href="@Url.Content("/" + Model.ExcelFileName)"> Tải tệp Excel mật khẩu</a></b></div>
        <center><a href="javascript:location.reload(true)">Nhập danh sách mới</a> | <a asp-controller="User" asp-action="Index">Danh sách tài khoản</a></center>
    }
    else
    {
        <div class="alert alert-warning" role="alert"> Không có tài khoản nào được lưu vào hệ thống.</div>
    }
}

@if (Model.Entries.Count > 0 && HasError)
{
    <center><b>Cách tài khoản không hợp lệ</b></center>
    <div id="result-table-container">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-bordered table-striped" id="result-table">
                <thead>
                    <tr>
                        <th><center>#</center></th>

                        @foreach (var item in columnOptionArray)
                {
                    if (item == "GrantedPermissionList" || item == "GrantedGradeAndSubjectId" || string.IsNullOrEmpty(item))
                    {
                        continue;
                    }

                    <th>
                        <center>
                            @switch (item)
                            {
                                case "FullName":
                                    @:Họ & tên
                                break;
                                case "Username":
                                    @:Tên đăng nhập
                                break;
                                case "Password":
                                    @:Mật khẩu
                                break;
                                case "Email":
                                    @:Email
                                break;
                                case "PhoneNumber":
                                    @:Số điện thoại
                                break;
                                case "RoleSystemName":
                                    @:Quyền quản lý
                                break;
                                default:
                                    break;
                            }
                        </center>
                    </th>
                        }

                        <th><center>Lý do</center></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var orderNumber = 0;

                        foreach (var item in Model.Entries)
                        {
                            orderNumber += 1;
                            var css = "";
                            if (item.IsDuplicationWithFile || item.IsDuplicationWithDatabase || item.IsInvalidEmailAddress || item.IsInvalidUsername)
                            {
                                css = "danger";
                            }

                            <tr class="@css">
                                <td><center>@orderNumber</center></td>
                                @foreach (var columnName in columnOptionArray.Skip(1).ToList())
                                {
                                    if (columnName == "GrantedPermissionList" || columnName == "GrantedGradeAndSubjectId")
                                    {
                                        continue;
                                    }
                                    if (columnName == "RoleSystemName")
                                    {
                                        <td>
                                            @if (item.RoleSystemName == "Teacher")
                                            {
                                                @:Giáo viên
                                            }
                                            else
                                            {
                                                @:Trưởng bộ môn
                                            }
                                        </td>

                                        continue;
                                    }

                                    var jsonObject = Newtonsoft.Json.Linq.JObject.FromObject(item);
                                    <td>@jsonObject[columnName]</td>
                                }
                                <td>
                                    @if (item.IsDuplicationWithDatabase)
                                    {
                                        @:<div>Số điện thoại đã có người đăng ký</div>
                                    }
                                    @if (item.IsDuplicationWithFile)
                                    {
                                        @:<div>Số điện thoại trong Excel bị trùng lập</div>
                                    }
                                    @if (item.IsInvalidEmailAddress)
                                    {
                                        @:<div>Địa chỉ Email không hợp lệ</div>
                                    }
                                    @if (item.IsInvalidUsername)
                                    {
                                        @:<div>Tên tài khoản chỉ được chứa chữ cái và chữ số. Từ 6-20 ký tự</div>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <center><a href="javascript:location.reload(true)">Nhập danh sách mới</a> | <a asp-controller="User" asp-action="Index">Danh sách tài khoản</a></center>
        </div>
    </div>
                        }
