@model BiTech.Library.Models.ImportExcelTVViewModel
@{
    Layout = null;
    ViewBag.Title = "ResultImportExcel";
}

<h4 class="text-success">Lưu thành công @Model.ListSuccess.Count  giáo viên</h4>
<h4 class="text-danger">Lưu thất bại @Model.ListFail.Count giáo viên</h4>
@if (@Model.ListFail.Count > 0)
{
    <button type="button" class="btn btn-danger btn-sm" onclick="window.location='@Url.Action("DowloadExcel", "GiaoVien", new {filePath=Model.FilePath, fileName = Model.FileName })'">
        <i class="fa fa-cloud-download" style="padding-right: 4px;font-size: 17px;"> Tải file lỗi để sửa</i>
    </button>
    <center><h3>Danh sách bị lỗi</h3></center>
    <br />
    <div style="overflow-x:auto">
        <table class="table table-hover table-bordered mb-0" border="1" id="result-table">
            <thead>
                <tr class="table-info text-center">
                    @{
                        var longestRow = Model.ListShow.FirstOrDefault();
                        if (longestRow != null)
                        {
                            <th>STT</th>
                            <th>Họ và tên</th>
                            <th>Tên user</th>
                            <th>Mã giáo viên</th>
                            <th>Giới tính</th>
                            <th>Ngày sinh</th>
                            <th>Tổ</th>
                            <th>Niên khóa</th>
                            <th>Địa chỉ</th>
                            <th>SĐT</th>
                            <th>Nguyên nhân lỗi </th>
                        }
                    }

                </tr>
            </thead>
            <tbody>
                @{
                    var orderNumber = 0;
                    int row = 1;
                    foreach (var item in Model.ListShow)
                    {
                        var col = 1;
                        <tr id="element-@orderNumber">
                            @foreach (var j in item)
                            {
                                // tô màu ô trống dữ liệu cần thiêt
                                if (String.IsNullOrEmpty(j.ToString().Trim()) && col <= 6)
                                {
                                    <td style="background: #dc354582;"></td>
                                }
                                // tô màu ô trùng Mã Thành Viên || Mã Thành Viên > 12 số
                                else if (col == 4 && (Model.ArrRowsMSTV[row] == true || @j.ToString().Length > 12))
                                {
                                    <td style="background: #dc354582;">@j.ToString()</td>
                                }
                                // tô màu ô trùng User name
                                else if (col == 3 && Model.ArrRowsUser[row] == true)
                                {
                                    <td style="background: #dc354582;">@j.ToString()</td>
                                }
                                else
                                {
                                    <td>@j.ToString()</td>
                                }
                                col++;
                            }                        
                        </tr>
                        row++;
                    }
                }
            </tbody>
        </table>
    </div>
                    }
<br />
<div class="f1-buttons">
    <button type="button" class="btn btn-sm btn-success" id="btn-finish"><i class=""></i>Hoàn tất</button>
</div>

<script>
    $(document).on('click', '#btn-finish', function () {
        location.reload();
    });
</script>

