@model  BiTech.Library.Models.UserViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var x = ViewBag.arr;
}
<link href="~/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />
<link href="~/Content/AutoComplete.css" rel="stylesheet" />

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>*@

<div class="Title">Danh sách giáo viên</div>
<div class="text-success">@ViewBag.Success</div>
@if (ViewBag.ThongBao)
{
    <div class="alert p-2 alert-danger alert-dismissible fade show">
        <button type="button" class="close p-1" data-dismiss="alert">&times;</button>
        <strong>Thông báo!</strong> @ViewBag.SearchFail
    </div>
}
@using (Html.BeginForm("Index", "GiaoVien", FormMethod.Post, new { role = "form", id = "GVIndex" }))
{
        <!-- SEPARATE -->
    <div class="input-group form-group text-left">
        <div value="temp" class="form-control form-control-sm p-0" style="position:relative;">
            @Html.TextBoxFor(m => m.TextForSearch, new
           {
               @placeholder = "Nhập mã hoặc tên giáo viên ...",
               @id = "searchName",
               @class = "form-control form-control-sm border-0",
               @autocomplete = "off",
               @onkeydown = "if (event.keyCode == 13) { search_user(); }"
           })
        </div>
        <div class="input-group-append">
            <input type="submit" value="Tìm kiếm" class="btn btn-sm btn-primary" />
        </div>
    </div>
}
<br />
<div class="row">
    <div class="col-md-12 bar_mobile_tl">
        @Html.ActionLink("Thêm giáo viên", "_CreateUser", "GiaoVien", new { @class = "btn btn-sm btn-primary" })
        @Html.ActionLink("Thêm từ file Excel", "ImportFromExcel", "GiaoVien", new { @class = "btn btn-sm btn-primary" })
        @Html.ActionLink("Xuất mẫu thẻ giáo viên", "ExportWord", "GiaoVien", new { @class = "btn btn-sm btn-primary" })
    </div>
</div>
<h5 class="text-success">@ViewBag.Success</h5>
<h5 class="text-danger">@ViewBag.UnSuccess</h5>

<div class="m10">
    @Html.Action("_PartialUser", "GiaoVien", new { @IdUser = "", @list = Model.ListThanhVien })
</div>
@section scripts{
    <script src="~/bower_components/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/bower_components/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/LibraryAngularJS.js"></script>
    <script>
        // Xóa thành viên
        function Delete(Id, Ten) {
            swal({
                title: " Bạn có chắc muốn khóa giáo viên " + Ten + " không?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Có",
                cancelButtonText: "Không",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: 'POST',
                        url: '/GiaoVien/Delete',
                        data: { "Id": Id },
                        success: function (resultData) {
                            swal({
                                title: "Khóa thành công!",
                                type: "success",
                                showCancelButton: false,
                                confirmButtonText: "OK",
                                closeOnConfirm: false
                            },
                            function (isConfirm) {
                                window.location.href = '/GiaoVien/Index';
                            });
                        }
                    })
                } else {
                    swal("Cancel!", null, "error");
                }
            });
        }
        // Hình nhân viên
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#FileImageCover").change(function () {
            readURL(this);
        });
        // AutoCompelete Search
        function AutoComplete(inp, arr) {
            var currentFocus;
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "AutoComplete-list");
                a.setAttribute("class", "AutoComplete-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        b = document.createElement("DIV");
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        b.addEventListener("click", function (e) {
                            inp.value = this.getElementsByTagName("input")[0].value;
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "AutoComplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    currentFocus++;
                    addActive(x);
                } else if (e.keyCode == 38) {
                    currentFocus--;
                    addActive(x);
                    //Enter
                } else if (e.keyCode == 13) {
                    e.preventDefault();
                    if (currentFocus > -1) {
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                if (!x) return false;
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                x[currentFocus].classList.add("AutoComplete-active");
            }
            function removeActive(x) {
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("AutoComplete-active");
                }
            }
            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("AutoComplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
        // Gọi hàm AutoComplete
        AutoComplete(document.getElementById("searchName"), [@Html.Raw("'" + string.Join("', '", (string[])@Model.ListAll) + "'")]);
        // Hàm Enter Excute
        function search_user() {
            setTimeout(function () {
                $('#GVIndex').submit();
            }, 10);
        }

        // Choice Search
        @*$("#tv_tk").on("change", "#choice", function () {
            if ($(this).val() == "matv") {
            }
            else {
            }
        });*@
    </script>
}
