@model IEnumerable<BiTech.Library.Models.TheLoaiSachViewModels>
@{
    ViewBag.Title = "DanhSachTheLoaiSach";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listTheLoai = ViewBag.ListTheLoai;
}

<h2>Danh Sách Thể Loại Sách</h2>

<table border="1">
    <thead>
        <tr>
            <th>Tên Thể Loại</th>
            <th>Mô Tả</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in listTheLoai)
        {
            <tr>
                <td>@item.TenTheLoai</td>
                <td>@item.MoTa</td>
                <td><a href="@Url.Action("SuaTheLoaiSach", new { id = item.Id })">Sửa</a>|<a href="@Url.Action("XoaTheLoaiSach", new {id = item.Id })">Xóa</a></td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Thêm Mới", "ThemTheLoaiSach")
