@model IEnumerable<BiTech.Library.Models.TheLoaiSachViewModels>
@{
    ViewBag.Title = "DanhSachTheLoaiSach";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var listTheLoai = ViewBag.ListTheLoai;
}
<div class="Title">Danh Sách Thể Loại Sách</div>
<div class="container-lib clearfix">
    <table class="table table-striped">
        <thead>
            <tr class="table-info">
                <th width="30%">Tên Thể Loại</th>
                <th width="50%">Mô Tả</th>
                <th width="10%">Sửa</th>
                <th width="10%">Xoá</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in listTheLoai)
            {
                <tr>
                    <td>@item.TenTheLoai</td>
                    <td>@item.MoTa</td>
                    <td>
                        <a href="@Url.Action("Sua", new { id = item.Id })">
                            <i style="font-size:24px" class="fa">&#xf044;</i> Sửa
                        </a>
                    </td>
                    
                    <td>
                        <a href="@Url.Action("Xoa", new {id = item.Id })">
                            <i style="font-size:24px" class="fa">&#xf014;</i> Xóa
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Thêm Mới", "Them")
</div>

