@model BiTech.Library.Models.TheLoaiSachViewModels
@{
    ViewBag.Title = "SuaTheLoaiSach";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<link href="~/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />
<div class="Title">Sửa Thể Loại Sách</div>
<div class="container">
    @using (Html.BeginForm("Sua", "TheLoaiSach", FormMethod.Post, new { role = "form" }))
    {
        @*<div class="form-group row">
            <label class="col-form-label col-sm-2" for="TenTheLoai">Tên cha:</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(m => m.IdParent, new SelectList(ViewBag.ListTheLoai, "Id", "TenTheLoai"),"--- Chọn thư mục cha ---", new { @class = "form-control" })
            </div>
        </div>*@
        <div class="form-group row">
            <label class="col-form-label col-form-label-sm col-sm-2" for="TenTheLoai">Tên thể loại:</label>
            <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.TenTheLoai, new { @class = "form-control form-control-sm", @id = "TenTheLoai" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-form-label-sm col-sm-2" for="MoTa">Mã DDC:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.MaDDC, new { @class = "form-control form-control-sm", @id = "MoTa" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-form-label-sm col-sm-2" for="MoTa">Mô tả:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.MoTa, new { @class = "form-control form-control-sm", @id = "MoTa" })
            </div>
        </div>
        @Html.HiddenFor(m => m.IdParent)
        <div class="form-group row">
            <label class="col-form-label col-sm-2" for=""></label>
            <div class="col-sm-10">
                <input type="submit" class="btn btn-primary btn-sm" value="Cập nhật" />
                <input type="button" value="Xóa" class="btn btn-danger btn-sm"  onclick="XoaTLS('@Model.Id','@Model.TenTheLoai')" />
                <input type="button" value="Trở lại" onclick="location.href = '@ViewBag.URLBackParent';" class="btn btn-default btn-sm" />
            </div>
        </div>


    }
</div>
@section scripts{
    <script src="~/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function XoaTLS(id,ten) {
            swal({
                title: " Bạn có muốn xóa thể loại sách " + ten + "?",
                text: "Bạn sẽ không thể khôi phục lại thể loại này sau khi xóa!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Có",
                cancelButtonText: "Không",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: 'POST',
                        url: "/TheLoaiSach/Xoa",
                        data: { "Id": id },
                        success: function (resultData) {
                            swal({
                                title: "Bạn đã xóa thành công!",
                                text: "Bạn sẽ không thể khôi phục lại thể loại này sau khi xóa!",
                                type: "success",
                                showCancelButton: false,
                                confirmButtonText: "Đóng",
                                closeOnConfirm: false
                            },
                            function (isConfirm) {
                                window.location.href = "@ViewBag.URLBackParent";
                            });
                        }
                    });
                } else {
                    swal("Cancelled", "Your imaginary file is safe :)", "error");
                }
            });
        }
    </script>

    @if (ViewBag.error_title == null || ViewBag.error_title == "")
    {

    }
    else
    {
        <script>
            swal({
                    title: "Sửa thể loại thất bại!",
                    text: " @Html.Raw(ViewBag.error_title) ",
                    type: "error",
                    showCancelButton: false,
                    confirmButtonText: "Đóng",
                    closeOnConfirm: false
            });
        </script>
    }
}



