@model PagedList.IPagedList<BiTech.Library.Models.TacGiaViewModel>
@using PagedList.Mvc

@{
    ViewBag.Title = "Tác Giả";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

}

<div class="Title">Danh Sách Tác Giả</div>

<p>@Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-sm btn-primary" })</p>
<table class="table table-hover table-bordered" border="1">
    <thead>
        <tr class="table-info">
            <th width="50" align="right">STT</th>
            <th>Tên tác giả</th>
            <th>Quốc tịch</th>
            <th>Mô tả</th>
            <th></th>
        </tr>
    </thead>
    @{int i = 1;}
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td align="center">@(i + (ViewBag.pages - 1) * ViewBag.pageSize)</td>
                <td>@item.TenTacGia</td>
                <td>@item.QuocTich</td>
                <td>@item.MoTa</td>
                <td><a class="color-white btn btndanger btn-sm btn-inTable" href="@Url.Action("Edit","TacGia", new { id = item.Id })"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sửa</a></td>
            </tr>
            { i++; }
        }
    </tbody>
</table>

<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>