@using System.Security.Claims
@using BiTech.Library.Models
@using BiTech.Library.BLL.DBLogic
@using BiTech.Library.Helpers
@{
    Layout = null;
    var isSSO = false;

    var accessInfoLogic = new AccessInfoLogic(Tool.GetConfiguration("ConnectionString"), Tool.GetConfiguration("BLibDatabaseName"));
    var accessInfo = accessInfoLogic.GetBySubDomain(ViewBag._SubDomain);

    if (accessInfo != null)
    {
        ViewBag.WebHeader = accessInfo.WebHeader;
        if (ViewBag.IsDebuging)
        {
            ViewBag.WebHeader += " - Hiện tại không có đăng nhập - đây là phiên bản build Debug";
        }
    }

    if (Request.IsAuthenticated)
    {
        var claimSSO = (User.Identity as ClaimsIdentity).Claims.Where(c => c.Type == "SSOUserDataModel").Select(c => c.Value);
        if (claimSSO != null)
        {
            foreach (var c in claimSSO)
            {
                try
                {
                    SSOUserDataModel loadData = Newtonsoft.Json.JsonConvert.DeserializeObject<SSOUserDataModel>(c);
                    ViewBag.SSOFullName = loadData.FullName;
                    ViewBag.Avatar = loadData.Avatar;
                    isSSO = true;
                    break;
                }
                catch { }
            }
        }
    }
}
<style>
    .top .useravatar {
        width: 30px;
        height: 30px;
        object-fit: cover;
        float: left;
        margin-top: -4px;
        margin-bottom: -1px;
        margin-right: 10px;
    }
</style>

<div class="top clearfix">
    <div class="top_in">
        <a href="@Url.Action("Index","Home")">
            <div class="banner">
                @if (ViewBag.ShowLeft)
            {
                    <div class="apptitle1">Phần mềm Quản lý Thư viện B.Lib</div>
                    <div class="dash"> - </div>
                    <div class="apptitle2">@ViewBag.WebHeader</div>
                }
            </div>
        </a>

        @if (Request.IsAuthenticated && isSSO)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <div class="nav menutop">
                    <div class="dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown" style="color:white;">
                            <img src="@Html.Raw(ViewBag.Avatar)" alt="user" class="useravatar" onerror="this.style.display='none'" />
                            <a href="#">@ViewBag.SSOFullName</a>
                        </div>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a class="dropdown-item" href="//bitechco.test/Customer/MyProfile">Thông tin cá nhân</a></li>
                            <li>@Html.ActionLink("Trợ giúp", "Index", "Help", null, new { @class = "dropdown-item", @target = "_blank" })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Đăng xuất", "logoff", "Account", null, new { @class = "dropdown-item" })</li>
                        </ul>

                        @*<div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="//bitechco.test/Customer/MyProfile">Thông tin cá nhân</a>
                                @Html.ActionLink("Đăng xuất", "logoff", "Account", null, new { @class = "dropdown-item" })
                            </div>*@
                    </div>
                </div>
            }
        }
        else if (ViewBag.IsDebuging)
        {
            <div class="nav menutop">
                <div class="dropdown">
                    <div class="dropdown-toggle" data-toggle="dropdown" style="color:white;">
                        <img src="@Html.Raw(ViewBag.Avatar)" alt="user" class="useravatar" onerror="this.style.display='none'" />
                        <a href="#">@ViewBag.SSOFullName</a>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="#">Thông tin cá nhân</a></li>
                        <li>@Html.ActionLink("Trợ giúp", "Index", "Help", null, new { @class = "dropdown-item", @target = "_blank" })</li>
                        <li class="divider"></li>
                        <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>