@using Microsoft.AspNet.Identity
@using System.Security.Claims
@using BiTech.Library.Models
@{
    Layout = null;
    var claimSSO = (User.Identity as ClaimsIdentity).Claims.Where(c => c.Type == "SSOUserDataModel").Select(c => c.Value);
    foreach (var c in claimSSO)
    {
        try
        {
            SSOUserDataModel loadData = Newtonsoft.Json.JsonConvert.DeserializeObject<SSOUserDataModel>(c);
            ViewBag.SSOFullName = loadData.FullName;
            ViewBag.SSOSchoolName = loadData.WorkPlaceName;
            ViewBag.Avatar = loadData.Avatar;
            break;
        }
        catch { }
    }
}
<style>
    .top .useravatar {
        width: 30px;
        height: 30px;
        object-fit: cover;
        float: left;
        margin-top: -4px;
        margin-bottom: -1px;
        margin-right: 10px;
    }
</style>

<div class="top clearfix">
    <div class="banner">
        <div class="apptitle">Phần mềm Quản lý Thư viện B.Lib</div>
        <div class="dash"> - </div>
        <div class="apptitle">@ViewBag.SSOSchoolName</div>
    </div>

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav menutop">
                <li class="nav-item">
                    <div class="dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <img src="@Html.Raw(ViewBag.Avatar)" alt="user" class="useravatar" onerror="this.style.display='none'" />
                            <a href="@Url.Action("Index", "Manage", new { title = "Manage" })">@ViewBag.SSOFullName</a>
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="//bitechco.test/Customer/MyProfile">Thông tin cá nhân</a>
                            @Html.ActionLink("Đăng xuất", "logoff", "Account", null, new { @class = "dropdown-item" })
                        </div>
                    </div>
                </li>
            </ul>
        }
    }
</div>