@using System.Linq
@{ var controller = @ViewContext.RouteData.Values["controller"].ToString();
    var action = @ViewContext.RouteData.Values["action"].ToString();

    bool Bool_TabThanhVien = false;
    bool Bool_TabSach = false;
    bool Bool_TabMuonTra = false;
    bool Bool_TabNhapXuatKho = false;
    bool Bool_TabThongke = false;

    string[] List_Controller_TabThanhVien = new string[7];
    List_Controller_TabThanhVien[0] = "HocSinh";
    List_Controller_TabThanhVien[1] = "GiaoVien";

    string[] List_Controller_TabSach = new string[7];
    List_Controller_TabSach[0] = "Sach";
    List_Controller_TabSach[1] = "TheLoaiSach";
    List_Controller_TabSach[2] = "Kesach";
    List_Controller_TabSach[3] = "TacGia";
    List_Controller_TabSach[4] = "NhaXuatBan";
    List_Controller_TabSach[5] = "NgonNgu";
    List_Controller_TabSach[6] = "TrangThaiSach";

    string[] List_Controller_TabMuonTra = new string[7];
    List_Controller_TabMuonTra[0] = "MuonSach";
    List_Controller_TabMuonTra[1] = "TraSach";

    string[] List_Controller_TabNhapXuatKho = new string[7];
    List_Controller_TabNhapXuatKho[0] = "PhieuNhapSach";
    List_Controller_TabNhapXuatKho[1] = "PhieuXuatSach";

    string[] List_Controller_TabThongke = new string[7];
    List_Controller_TabThongke[0] = "Statistic";
    List_Controller_TabThongke[1] = "ThongKe";

    if (List_Controller_TabThanhVien.Contains(controller))
        Bool_TabThanhVien = true;
    if (List_Controller_TabSach.Contains(controller))
        Bool_TabSach = true;
    if (List_Controller_TabMuonTra.Contains(controller))
        Bool_TabMuonTra = true;
    if (List_Controller_TabNhapXuatKho.Contains(controller))
        Bool_TabNhapXuatKho = true;
    if (List_Controller_TabThongke.Contains(controller))
        Bool_TabThongke = true;
}

<div class="left">
    <div class="bg">

    </div>
    <div class="bg_icon">

    </div>
    <div class="menu">

        <div class="logo">
            <img src="~/Content/Images/logo.png" alt="logo" style="max-width: 100%" />
        </div>

        <div id="accordion">

            <div class="card @((@Bool_TabThanhVien) ? "active function_active" : "")">
                <div class="card-header ">
                    <a class="card-link @((@Bool_TabThanhVien) ? " " : "collapsed")" data-toggle="collapse" href="#collapseOne">
                        <i class="fa fa-group"></i>
                        <span class="card-header-title">Quản lý thành viên</span>
                    </a>
                </div>
                <div id="collapseOne" class="collapse @((@Bool_TabThanhVien) ? "show" : "")" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li class="@((@controller == "HocSinh" ) ? "active" : "")">
                                <a href="@Url.Action("index","HocSinh")" title="Học sinh">
                                    Học sinh
                                </a>
                            </li>
                            <li class="@((@controller == "GiaoVien" ) ? "active" : "")">
                                <a href="@Url.Action("index","GiaoVien")" title="Giáo viên">
                                    Giáo viên
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="card @((@Bool_TabSach) ? "active function_active" : "")">
                <div class="card-header">
                    <a class="card-link @((@Bool_TabSach) ? " " : "collapsed")" data-toggle="collapse" href="#collapseTwo">
                        <i class="fa fa-book"></i>
                        <span class="card-header-title">Quản lý thông tin sách</span>
                    </a>
                </div>
                <div id="collapseTwo" class="collapse @((@Bool_TabSach) ? "show" : "")" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li class="@((@controller == "Sach" ) ? "active" : "")">
                                <a href="@Url.Action("index","Sach")" title="Sách">
                                    Sách
                                </a>
                            </li>
                            <li class="@((@controller == "TheLoaiSach" ) ? "active" : "")">
                                <a href="@Url.Action("index","TheLoaiSach")" title="Thể loại">
                                    Thể loại
                                </a>
                            </li>
                            <li class="@((@controller == "Kesach" ) ? "active" : "")">
                                <a href="@Url.Action("index","Kesach")" title="Kệ sách">
                                    Kệ sách
                                </a>
                            </li>
                            <li class="@((@controller == "TacGia" ) ? "active" : "")">
                                <a href="@Url.Action("Index","TacGia")" title="Tác giả">
                                    Tác giả
                                </a>
                            </li>
                            <li class="@(( @controller == "NhaXuatBan") ? "active" : "")">
                                <a href="@Url.Action("Index","NhaXuatBan")" title="Nhà xuất bản">
                                    Nhà xuất bản
                                </a>
                            </li>
                            <li class="@((@controller == "NgonNgu" ) ? "active" : "")">
                                <a href="@Url.Action("Index","NgonNgu")" title="Ngôn ngữ">
                                    Ngôn ngữ
                                </a>
                            </li>
                            <li class="@(( @controller == "TrangThaiSach") ? "active" : "")">
                                <a href="@Url.Action("Index", "TrangThaiSach")" title="Loại tình trạng">
                                    Loại tình trạng
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card @((@Bool_TabMuonTra) ? "active function_active" : "")">
                <div class="card-header">
                    <a class="card-link @((@Bool_TabMuonTra) ? " " : "collapsed")" data-toggle="collapse" href="#collapseMuongTra">
                        <i class="fa fa-address-book-o"></i>
                        <span class="card-header-title">Mượn trả sách</span>
                    </a>
                </div>
                <div id="collapseMuongTra" class="collapse @((@Bool_TabMuonTra) ? "show" : "")" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li class="@(( @controller == "MuonSach") ? "active" : "")">
                                <a href="@Url.Action("Index","MuonSach")" title="Mượn sách">
                                    Mượn sách
                                </a>
                            </li>
                            <li class="@(( @controller == "TraSach") ? "active" : "")">
                                <a href="@Url.Action("Index","TraSach")" title="Trả sách">
                                    Trả sách
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card @((@Bool_TabNhapXuatKho) ? "active function_active" : "")">
                <div class="card-header">
                    <a class="card-link @((@Bool_TabNhapXuatKho) ? " " : "collapsed")" data-toggle="collapse" href="#collapseThree">
                        <i class="fa fa-server"></i>
                        <span class="card-header-title">Nhập xuất kho</span>
                    </a>
                </div>
                <div id="collapseThree" class="collapse @((@Bool_TabNhapXuatKho) ? "show" : "")" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li class="@((@controller == "PhieuNhapSach") ? "active" : "")">
                                <a href="@Url.Action("Index","PhieuNhapSach")" title="Nhập sách">
                                    Nhập sách
                                </a>
                            </li>
                            <li class="@((@controller == "PhieuXuatSach") ? "active" : "")">
                                <a href="@Url.Action("Index","PhieuXuatSach")" title="Xuất sách">
                                    Xuất sách
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card @((@Bool_TabThongke) ? "active function_active" : "")">
                <div class="card-header">
                    <a class="card-link @((@Bool_TabThongke) ? " " : "collapsed")" data-toggle="collapse" href="#collapse4">
                        <i class="fa fa-bar-chart-o"></i>
                        <span class="card-header-title">Thống kê</span>
                    </a>
                </div>
                <div id="collapse4" class="collapse @((@Bool_TabThongke) ? "show" : "")" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li class="@((@controller == "Statistic") ? "active" : "")">
                                <a href="@Url.Action("Index","Statistic")" title="Biểu đồ thống kê">
                                    Biểu đồ thống kê
                                </a>
                            </li>
                            <li class="@((@controller == "ThongKe" && @action == "MuonSach") ? "active" : "")">
                                <a href="@Url.Action("MuonSach","ThongKe")" title="Danh sách mượn">
                                    Danh sách mượn
                                </a>
                            </li>
                            <li class="@((@controller == "ThongKe" && @action == "DanhSachChuaTra") ? "active" : "")">
                                <a href="@Url.Action("DanhSachChuaTra","ThongKe")" title="Danh sách chưa trả">
                                    Danh sách chưa trả
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="bt_menu" title="Đóng/Mở trình đơn">
            <i class="fa fa-chevron-circle-left"></i>
            <span class="card-header-title">Thu gọn trình đơn</span>
        </div>
    </div>
</div>
<!--End Left-->