@model IEnumerable<BiTech.Library.Models.PhieuNhapSachModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="Title">Danh Sách Phiếu Nhập</div>
<div class="container clearfix">
   
    <a href="@Url.Action("TaoPhieuNhapSach")" class="btn btn-primary">Thêm Mới</a>
    <div class="book_content clearfix">
        <table class="table table-striped" border="1">
            <thead>
                <tr style="background:orange">
                    <th>IdUserAdmin</th>
                    <th>Ghi Chú</th>
                    <th>Ngày Nhập</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.listphieunhap)
                {
                    <tr>
                        <td>@item.IdUserAdmin</td>
                        <td>@item.GhiChu</td>
                        <td>@String.Format("{0:M/d/yyyy}", item.NgayNhap)</td>
                        <td><a href="@Url.Action("Details","PhieuNhapSach", new { id = item.Id })">Xem chi tiết</a></td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>


