@model PagedList.IPagedList<BiTech.Library.Models.PhieuNhapSachModels>
@using PagedList.Mvc
@{
                /**/

                ViewBag.Title = "Danh sách phiếu nhập";
                Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="Title">Danh Sách Phiếu Nhập</div>

<div id="topbar" class="mb-2">
    @Html.ActionLink("Thêm mới", "TaoPhieuNhapSach", null, new { @class = "btn btn-sm btn-primary" })
    @Html.ActionLink("Thêm từ File Excel", "ImportFromExcel", "Sach", new { @class = "btn btn-sm btn-primary" })
    <a class="btn btn-sm btn-primary" href="~/Tempalates/MauPNS.xlsx">Mẫu Excel</a>
</div>
<table class="table table-hover table-bordered">
    <thead>
        <tr class="table-info text-center">
            <th width="50" align="right">STT</th>
            <th>Người nhập</th>
            <th>Ghi chú</th>
            <th>Ngày nhập</th>
            <th></th>
        </tr>
    </thead>
    @{int i = 1;}
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td align="center">@(i + (ViewBag.pages - 1) * ViewBag.pageSize)</td>
                <td>@item.UserName</td>
                <td>@item.GhiChu</td>
                <td>@String.Format("{0:dd-MM-yyyy}", item.NgayNhap)</td>
                <td>
                    <a class="color-white btn btn-primary btn-sm btn-inTable" href="@Url.Action("Details",new { id = item.IdPhieuNhap})">
                        Xem chi tiết
                    </a>
                </td>
            </tr>
            { i++; }
        }
    </tbody>

</table>
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>


