@model BiTech.Library.Models.KesachViewModels
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<link href="~/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />
<div class="Title">Sửa thông tin</div>

@using (Html.BeginForm("Edit","KeSach",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="tensach">Tên Kệ:</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.TenKe, new { @class = "form-control form-control-sm", @id = "tenke" })
                @Html.ValidationMessageFor(model => model.TenKe, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="tensach">Vị Trí:</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.ViTri, new { @class = "form-control form-control-sm", @id = "vitri" })
                @Html.ValidationMessageFor(model => model.ViTri, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="tensach">Thông tin:</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.GhiChu, new { @class = "form-control form-control-sm", @id = "ghichu" })
                @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2"></label>
            <div class="col-sm-9">
                <input type="submit" value="Cập nhật" class="btn btn-primary btn-sm" />
                <input type="button" class="btn btn-danger btn-sm" value="Xóa" onclick="XoaKS('@Model.Id','@Model.TenKe')" />
                <input type="button" onclick="goBack()" class="btn btn-default btn-sm" value="Trở lại" />
            </div>
        </div>
    </div>
}
@section scripts{
    <script src="~/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function XoaKS(id, ten) {
            swal({
                title: " Bạn có muốn xóa kệ sách " + ten + "?",
                text: "Bạn sẽ không thể khôi phục lại kệ sách này sau khi xóa!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Có",
                cancelButtonText: "Không",
                closeOnConfirm: false,
                closeOnCancel: true
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: 'POST',
                        url: "/KeSach/Delete",
                        data: { "Id": id },
                        success: function (resultData) {
                            swal({
                                title: "Bạn đã xóa thành công!",
                                text: "Bạn sẽ không thể khôi phục lại kệ sách này sau khi xóa!",
                                type: "success",
                                showCancelButton: false,
                                confirmButtonText: "OK",
                                closeOnConfirm: false
                            },
                            function (isConfirm) {
                                window.location.href = '/KeSach/Index';
                            });
                        }
                    });
                }
            });
        }
    </script>
}

