@model PagedList.IPagedList<BiTech.Library.Models.KesachViewModels>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var i = 0;
}

<link href="~/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />
<div class="Title">Danh Sách Kệ Sách</div>

<p>@Html.ActionLink("Thêm Mới", "Create", null, new { @class = "btn btn-primary btn-sm" })</p>


<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr class="table-info">
            <th width="50" align="right">STT</th>
            <th scope="col">Tên kệ</th>
            <th scope="col">Vị trí</th>
            <th scope="col">Thông tin</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td align="center">@(i + (ViewBag.pages - 1) * ViewBag.pageSize)</td>
                <td>@item.TenKe</td>
                <td>@item.ViTri</td>
                <td>@item.GhiChu </td>

                <td>
                    <button class="color-white btn btn-outline-primary btn-sm" onclick="window.location.href='@Url.Action("Edit", new { id = item.Id })'">
                        <i class="fa">&#xf044;</i> Sửa
                    </button>
                </td>

            </tr>

        }

    </tbody>


</table>

<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>


