
@using System;
@using System.Globalization;
@using BiTech.Library.DTO;
@model BiTech.Library.Models.BieuDoPhieuMuonViewModel
@{
    ViewBag.Title = "BieuDoPhieuMuon";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


@section scripts{
    <script src="~/app/AngularChartJs/angular.min.js"></script>
    <script src="~/app/AngularChartJs/Chart.min.js"></script>
    <link href="~/Content/StatisticCss.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/app/app.js"></script>
    <script src="~/app/AngularChartJs/angular-chart.min.js"></script>
    <link href="~/app/AngularChartJs/angular-chart.css" rel="stylesheet" />
    <script src="~/app/StatisticTransition.js"></script>
    <link href="~/Scripts/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/dist/js/bootstrap-datepicker.min.js"></script>
    <script>
        $('#sandbox-container .input-append.date').datepicker({
        });
        //$('.datepicker').datepicker({
        //    format: 'dd/mm/yyyy',
        //    //startDate: '-7d'
        //});
    </script>
}


<div ng-app="MyApp" class="container-box-window clearfix">
    <h1 class="text-info text-center"> Sơ Đồ Thống kê </h1>
    <div ng-controller="Statistic" class="row col-lg-12 ">
        <div class="col-md-2 summarybox" style="background: #09084b;">
            <div class="block-wrapper return" style="border:1px solid dashed">
                <div class="text-des">
                    <span>Tổng Số Sách</span>
                    <div class="service-wrapper ">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <strong>{{SumSl}}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 summarybox" style="background: #7d046e;">
            <div class="block-wrapper return" style="border:1px solid dashed">
                <div class="text-des">
                    <span>Tổng Sách Mới</span>
                    <div class="service-wrapper ">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <strong>{{sumSixMonth}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="margin-left:134px; padding-bottom:30px">
            <button class="tablink" onclick="openCity('Day', this, '#1ab188')" style="outline:none" id="defaultOpen">Thống kê tuần</button>
            <button class="tablink" onclick="openCity('MonthYear', this, '#1ab188')" style="outline:none">Thống kê tháng</button>
            <button class="tablink" onclick="openCity('Year', this, '#1ab188')" style="outline:none">Thống kê năm</button>
            <button class="tablink" onclick="openCity('TTSach', this, '#1ab188')" style="outline:none">Thống kê trạng thái </button>
        </div>
        @*thống kê theo ngày*@
        <div id="Day" class="tabcontent">
            <div class="row" id="disableYear">
                <div class="col-lg-12">
                    <div ng-controller="startDayAndlastDay" class="row">
                        <div class='col-lg-12'>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <div class='input-group date' id='datepicker' data-provide="datepicker">
                                        <input type='text' class="form-control" ng-model="MDDatetime" ng-change="GetDay()" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true" style="font-size: 25px;position: absolute;margin-left: -30px;top: 7px;"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-9" style="margin:auto" id="responsiveChart">
                            <div class="tab-content no-padding">
                                <span style="margin-top: 20px; margin-left:-60px; position: absolute;">Số lượng</span>
                                <canvas id="bar " class="chart chart-line"
                                        chart-data="chartdataDay" chart-labels="labels" chart-colors="colors"
                                        chart-series="series" chart-options="options" chart-legend="true"
                                        chart-dataset-override="datasetOverride"></canvas>
                                <p style="float: right;margin-right: -53px;margin-top: -50px;padding-bottom: 15px;">Ngày</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*thống kê theo tháng*@
        <div id="MonthYear" class="tabcontent">
            <div id="disableMonth">
                <div ng-controller="MonthCtroller" class="row">
                    <div class="col-md-10 col-xs-3">
                        <div style="padding-bottom: 12px; float:left" class="col-md-3">
                            <select class="form-control" data-width="auto" ng-model="selected1" ng-click="GetData()">
                                <option value="">---chọn tháng ---</option>
                                @for (int i = 1; i <= 12; i++)
                                {
                                    <option value="@i">Tháng @i</option>
                                }
                            </select>
                        </div>
                        <div style="padding-bottom: 12px; float:left" class="col-md-3">
                            <select class="form-control" data-width="auto" ng-model="selected2" ng-click="GetData()">

                                <option value="">---chọn năm---</option>
                                @for (int i = Int32.Parse(ViewBag.tt); i <= DateTime.Now.Year; i++)
                                {
                                    <option value="@i">Năm @i</option>
                                }
                            </select>

                        </div>
                    </div>
                    <div id="responsiveChart" class="col-md-9" style="margin:auto">
                        <!-- Custom tabs (Charts with tabs)-->
                        <div class="nav-tabs-custom">
                            <!-- Tabs within a box -->

                            <div class="tab-content no-padding">
                                <span style="margin-top: 20px; margin-left:-60px; position: absolute;">Số lượng</span>
                                <canvas id="line" class="chart chart-line "
                                        chart-data="chartdataMonth" chart-labels="labels" chart-colors="colors"
                                        chart-series="series" chart-options="options" chart-legend="true" chart-dataset-override="datasetOverride"></canvas>
                                <p style="float: right;margin-right: -53px;margin-top: -40px;padding-bottom: 15px;">Ngày</p>
                                <div ng-if="loading">
                                    <div class="col-xs-4"></div>
                                    <div class="col-xs-4">
                                        <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Đang tải...</label>
                                    </div>
                                    <span style="color: crimson;">Đang tải dữ liệu.?</span>
                                    <div class="col-xs-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*thống kê theo năm*@
        <div id="Year" class="tabcontent">
            <div class="row" id="disableYear">
                <div class="col-lg-12">

                    <div ng-controller="Statistic" class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div style="padding-bottom: 12px;float:left">
                                    <select class="form-control" data-width="auto" ng-model="selectYear" ng-click="year()">
                                        <option>---chọn năm---</option>
                                        @for (int i = Int32.Parse(ViewBag.tt); i <= DateTime.Now.Year; i++)
                                        {
                                            <option value="@i">Năm @i</option>
                                        }
                                    </select>
                                </div>

                            </div>
                        </div>

                        <!-- Left col -->
                        <!-- Tabs within a box -->
                        <div class="col-md-9" style="margin:auto" id="responsiveChart">
                            <div class="tab-content no-padding">
                                <span style="margin-top: 20px; margin-left:-60px; position: absolute;">Số lượng</span>
                                <canvas id="bar " class="chart chart-line"
                                        chart-data="chartdataYear" chart-labels="labels" chart-colors="colors"
                                        chart-series="series" chart-options="options" chart-legend="true"
                                        chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>


                                <div ng-if="loading">
                                    <div class="col-xs-4"></div>
                                    <div class="col-xs-4">
                                        <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Đang tải...</label>
                                    </div>
                                    <span style="color: crimson;">Đang tải dữ liệu.?</span>
                                    <div class="col-xs-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*thống kê theo trang thái sách*@
        <div id="TTSach" class="tabcontent">
            <div class="row" id="disableYear">
                <div class="col-lg-12">
                    <div ng-controller="TTSach" class="row">
                        <div class="col-md-9" style="margin:auto" id="responsiveChart">
                            <div class="tab-content no-padding">
                                <span style="margin-top: 22px; margin-left:-60px; position: absolute;">Số lượng</span>
                                <canvas id="bar" class="chart chart-bar"
                                        chart-data="chartdataTT" chart-labels="labels" chart-colors="colors"
                                        chart-series="series" chart-options="options" chart-legend="true"
                                        chart-dataset-override="datasetOverride"></canvas>
                                <p style="float: right;margin-right: -53px;margin-top: -30px;padding-bottom: 15px;">Trạng thái</p>
                            </div>
                            <div ng-if="loading">
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4">
                                    <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Đang tải...</label>
                                </div>
                                <span style="color: crimson;">Đang tải dữ liệu.?</span>
                                <div class="col-xs-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
