@model PagedList.IPagedList<PhieuMuon>
@using System;
@using System.Globalization;
@using BiTech.Library.DTO;
@using PagedList.Mvc;
@{
    ViewBag.Title = "DanhSachMuon";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";


    var months = DateTimeFormatInfo
    .InvariantInfo
    .MonthNames
    .TakeWhile(monthName => monthName != String.Empty)
    .Select((monthName, index) => new SelectListItem
    {
        Value = (index + 1).ToString(CultureInfo.InvariantCulture),
        Text = string.Format("({0}) {1}", index + 1, monthName)
    });

    var years = Enumerable
    .Range(2017, 10)
    .Select(year => new SelectListItem
    {
        Value = year.ToString(CultureInfo.InvariantCulture),
        Text = year.ToString(CultureInfo.InvariantCulture)
    });
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<h2 class="text-center">Danh sách phiếu mượn</h2>

<h5 class="text-info">Danh mục mượn sách theo tháng</h5>
<div class="row">
    <div class="col-md-1 text-right"><h5>Tháng</h5></div>
    <div class="col-md-2">
        @Html.DropDownList("month", months, new { onchange = @"onMonthSelectedChagned();", @class = "form-control" })
    </div>
    <div class="col-md-1 text-right"><h5>Năm</h5></div>
    <div class="col-md-2">
        @Html.DropDownList("year", years, new { onchange = @"onYearSelectedChagned();", @class = "form-control" })
    </div>
</div>
<h5 class="text-info">Danh mục mượn sách theo ngày</h5>
@Html.TextBox("day", "", new { onchange = @"onDaySelectedChagned()", @class = "form-control datepicker" })
<hr />
@if (ViewBag.Month != 0 && ViewBag.Year != 0)
{
    <h6> Tổng số sách được mượn trong tháng "@ViewBag.Month/@ViewBag.Year" là: @ViewBag.SoSachDuocMuon cuốn</h6>
    <h6> Tổng số người mượn sách trong tháng "@ViewBag.Month/@ViewBag.Year" là: @ViewBag.SoLuongThanhVien người</h6>
}
@if (ViewBag.Day != null && ViewBag.Day != "0")
{
    <h6> Tổng số sách được mượn trong ngày "@ViewBag.Day" là: @ViewBag.SoSachDuocMuon cuốn</h6>
    <h6> Tổng số người mượn sách trong ngày "@ViewBag.Day" là: @ViewBag.SoLuongThanhVien người</h6>
}
<hr />
<table class="table table-striped">
    <thead>
        <tr class="table-info">
            <th>Stt</th>
            <th>Người mượn</th>
            <th>Tên sách</th>
            <th>Số lượng</th>
            <th>Ngày mượn</th>
            <th>Hạn phải trả</th>
            <th>Ngày trả</th>
            <th>Tình trạng</th>
            <th>Gia hạn</th>
            @*<th>Ghi chú</th>*@
        </tr>
    </thead>
    @{ int i = ViewBag.pageSize * (ViewBag.pages - 1); int dem = 1;}
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@((ViewBag.pageSize * (ViewBag.pages - 1)) + dem)</td>
                @{
                    string TenThanhVien = @ViewBag.ListThanhVien[i].Ten;
                }
                <td>@Html.ActionLink(TenThanhVien, "LichSuMuonSach", new { page = 1, id = @ViewBag.ListThanhVien[i].Id, pagePM = @ViewBag.Page, day = @ViewBag.Day, month = @ViewBag.Month, year = @ViewBag.Year }, null) </td>
                <td>@ViewBag.ListSach[i].TenSach,..</td>
                
                <td>tổng @ViewBag.ListSoSachTong[i] cuốn</td>
                <td class="text-center">@item.NgayMuon.ToString("dd-MM-yyyy")</td>
                <td class="text-center">@item.NgayPhaiTra.ToString("dd-MM-yyyy")</td>

                @{
                    DateTime? ngayTra = item.NgayTra;
                    string ngayTraFormat = ngayTra.HasValue ? ngayTra.Value.ToString("dd-MM-yyyy") : "Ngày trả chưa có";
                }

                @if (item.NgayTra != null && ngayTraFormat.Equals("01-01-0001") == false)
                {
                    <td>@ngayTraFormat</td>
                    if (item.SoNgayGiaoDong != null)
                    {
                        <td class="@item.TrangThai.ToString()">@item.TenTrangThai - (@item.SoNgayGiaoDong.ToString() ngày)</td>
                    }
                    else
                    {
                        <td class="@item.TrangThai.ToString()">@item.TenTrangThai</td>
                    }
                }
                else
                {
                    <td class="text-center">---//---</td>
                    if (item.SoNgayGiaoDong != null && item.SoNgayGiaoDong < 30)
                    {
                        <td class="@item.TrangThai.ToString()">@item.TenTrangThai - (còn @item.SoNgayGiaoDong.ToString() ngày)</td>
                    }
                    else
                    {
                        if (item.SoNgayGiaoDong == null)
                        {
                            var ngayTre = DateTime.Now - item.NgayPhaiTra;
                            <td class="@item.TrangThai.ToString()">@item.TenTrangThai - (trễ @ngayTre.Days ngày)</td>
                        }
                        else
                        {
                            <td class="@item.TrangThai.ToString()">Còn @item.SoNgayGiaoDong.ToString() ngày</td>
                        }
                    }
                }
                @*<td>@item.Id</td>*@
                <td></td>

            </tr>
        </tbody>
                        {
                            i++; dem++;
                        }

                    }
</table>

<p>
    @Html.PagedListPager(Model, Page => Url.Action("DanhSachMuon", new { page = Page, day = ViewBag.Day, month = ViewBag.Month, year = ViewBag.Year }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</p>

<style>
    .ChuaTra {
        background: #ff9a9a;
        color: #000;
    }

    .GanTra {
        background: #b7dbff;
        color: #000;
    }

    .TraTre {
        background: #fdf0b2;
        color: #000;
    }

    .TraDungHen {
        background: #91d8a9;
        color: #000;
    }
</style>
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                //showWeek: true,
                dateFormat: "dd/mm/yy",
                monthNamesShort: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"],
                changeMonth: true,
                changeYear: true,
                yearRange: "-1:+8",
                onSelect: function (dateText, inst) {
                    var ngay = $("input[name='day']").val();

                    //var ngay = a.toString().substring(0, 2);
                    //var thang = a.toString().substring(3, 5);
                    //var nam = a.toString().substring(6);

                    window.location.href = '/ThongKe/DanhSachMuon?page=1&day=' + ngay + '&month=' + 0 + '&year=' + 0;
                }
            }).attr("readonly", "readonly");
        });

        function onMonthSelectedChagned() {
            window.location.href = '/ThongKe/DanhSachMuon?page=1&day=' + 0 + '&month=' + $("#month").val() + '&year=' + $("#year").val();
        }

        function onYearSelectedChagned() {
            window.location.href = '/ThongKe/DanhSachMuon?page=1&day=' + 0 + '&month=' + $("#month").val() + '&year=' + $("#year").val();
        }
    </script>
}