@model PagedList.IPagedList<ThongTinMuonSach>
@using System;
@using System.Globalization;
@using BiTech.Library.DTO;
@using PagedList.Mvc;
@{

    ViewBag.Title = "DanhSachChuaTra";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="Title">Danh sách độc giả chưa trả sách</div>
<table class="table table-hover table-striped">
    <thead>
        <tr class="table-info text-center">
            <th>STT</th>
            <th>Người mượn</th>
            <th>Tên sách</th>
            <th>Số lượng</th>
            <th>Ngày mượn</th>
            <th>Hạn phải trả</th>
            <th>Ngày trả</th>
            <th>Trạng thái</th>
            <th>Tiền phạt</th>
            <th>Gia hạn</th>
            @*<th>Ghi chú</th>*@
        </tr>
    </thead>
    @{ int i = ViewBag.pageSize * (ViewBag.pages - 1); int j = ViewBag.pageSize * (ViewBag.pages - 1); int dem = 1;}
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td class="text-center">@((ViewBag.pageSize * (ViewBag.pages - 1)) + dem)</td>
                @{
                    string TenThanhVien = @ViewBag.ListThanhVien[i].Ten;
                }
                <td>@Html.ActionLink(TenThanhVien, "ThongTinDocGia", new { id = @ViewBag.ListThanhVien[i].Id, page = @ViewBag.Page, day = @ViewBag.Day, month = @ViewBag.Month, year = @ViewBag.Year }, null) </td>
                <td>@ViewBag.ListSach[i].TenSach</td>             
                <td class="text-center">@item.SoSachTong.ToString()</td>
                <td class="text-center">@item.NgayGioMuon</td>
                <td class="text-center">@item.NgayPhaiTra</td>
                @{
                    string ngayTraThucTe = item.NgayTraThucTe != null ? item.NgayTraThucTe : "01-01-0001";
                    
                }
               
                @if (item.NgayTraThucTe.Equals("01-01-0001") == false)
                {
                    <td>@ngayTraThucTe</td>
                    if (item.SoNgayGiaoDong != null)
                    {
                        <td class="@item.TrangThai.ToString()">@item.TenTrangThai - (@item.SoNgayGiaoDong.ToString() ngày)</td>
                    }
                    else
                    {
                        <td class="@item.TrangThai.ToString()">@item.TenTrangThai</td>
                    }
                }
                else
                {
                    <td class="text-center">---//---</td>
                    if (item.SoNgayGiaoDong != null && item.SoNgayGiaoDong < 30)
                    {
                        <td class="@item.TrangThai.ToString()">@item.TenTrangThai - (còn @item.SoNgayGiaoDong.ToString() ngày)</td>
                    }
                    else
                    {
                        if (item.SoNgayGiaoDong == null)
                        {
                            DateTime ngayPhaiTra = DateTime.ParseExact(item.NgayPhaiTra, "dd-MM-yyyy", null);
                            var ngayTre = DateTime.Now - ngayPhaiTra;
                            <td class="@item.TrangThai.ToString()">@item.TenTrangThai - (trễ @ngayTre.Days ngày)</td>
                        }
                        else
                        {
                            <td class="@item.TrangThai.ToString()">Còn @item.SoNgayGiaoDong.ToString() ngày</td>
                        }
                    }
                }
                <td></td>
                <td></td>
            </tr>
        </tbody>

                        {
                            i++; dem++; j++;
                        }
                    }

</table>

<p>
    @Html.PagedListPager(Model, Page => Url.Action("DanhSachChuaTra", new { page = Page, pagePM = @ViewBag.pagePM, day = @ViewBag.Day, month = @ViewBag.Month, year = @ViewBag.Year }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</p>

<style>
    .ChuaTra {
        background: #ff9a9a;
        color: #000;
    }

    .GanTra {
        background: #b7dbff;
        color: #000;
    }
</style>