@model PagedList.IPagedList<PhieuMuon>
@using System.Globalization;
@using BiTech.Library.DTO;
@using BiTech.Library.Models;
@using PagedList.Mvc;
@{
    ViewBag.Title = "DanhSachTra";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

    var isMultiBook = false;

    var months = DateTimeFormatInfo
.InvariantInfo
.MonthNames
.TakeWhile(monthName => monthName != String.Empty)
.Select((monthName, index) => new SelectListItem
{
    Value = (index + 1).ToString(CultureInfo.InvariantCulture),
    Text = string.Format("({0}) {1}", index + 1, monthName)
});

    var years = Enumerable
    .Range(2018, 10)
    .Select(year => new SelectListItem
    {
        Value = year.ToString(CultureInfo.InvariantCulture),
        Text = year.ToString(CultureInfo.InvariantCulture)
    });
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<h2 class="text-center">Thống kê danh mục trả sách</h2>
<hr />
<div id="DatetimePicker"> </div>
<h4 class="text-info">Danh mục trả sách theo tháng</h4>
<div class="row">
    <div class="col-md-2">
        @Html.DropDownList("month", months, new { onchange = @"onMonthSelectedChagned();", @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.DropDownList("year", years, new { onchange = @"onYearSelectedChagned();", @class = "form-control" })
    </div>
</div>
<h4 class="text-info">Danh mục trả sách theo ngày</h4>
@Html.TextBox("day", "", new { onchange = @"onDaySelectedChagned()", @class = "form-control datepicker" })
<hr />

<table class="table">
    <thead>
        <tr class="text-primary h4">
            <th>STT</th>
            <th>Người mượn</th>
            <th>Tên sách</th>
            <th>Số lượng mượn</th>
            <th>Số lượng trả</th>
            <th>Ngày mượn</th>
            <th>Hạn phải trả</th>
            <th>Ngày trả</th>
            <th>Tình trạng</th>           
            <th>Trạng thái sách khi trả</th>
        </tr>
    </thead>
    @{ int i = 0; int j = 0; int dem = 1;}
    @foreach (var item in Model)
    {
        foreach (var sach in @ViewBag.ListChaCuaSach[i])
        {
            <tbody>
                <tr>
                    @if (isMultiBook == false)
                    {
                        <td>@((ViewBag.pageSize * (ViewBag.pages - 1)) + dem)</td>
                        <td>@ViewBag.ListThanhVien[i].Ten</td>
                        <td>@sach.TenSach</td>
                        <td>@ViewBag.SoLuongSachMuon[j] cuốn</td>
                        <td>so luong</td>
                        <td>@item.NgayMuon.ToString("dd-MM-yyyy")</td>
                        <td>@item.NgayPhaiTra.ToString("dd-MM-yyyy")</td>

                        DateTime? ngayTra = item.NgayTra;
                        string ngayTraFormat = ngayTra.HasValue ? ngayTra.Value.ToString("dd-MM-yyyy") : "Ngày trả chưa có";
                        <td>@ngayTraFormat</td>

                        if (item.SoNgayGiaoDong != null)
                        {
                            <td class="@item.TrangThai.ToString()">@item.TenTrangThai - (@item.SoNgayGiaoDong.ToString() ngày)</td>
                        }
                        else
                        {
                            <td class="@item.TrangThai.ToString()">@item.TenTrangThai</td>
                        }                 
                        <td>IdTrangThaiSach</td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td>@sach.TenSach</td>
                        <td>@ViewBag.SoLuongSachMuon[j] cuốn</td>
                        <td>so luong</td>
                        <td>@item.NgayMuon.ToString("dd-MM-yyyy")</td>
                        <td>@item.NgayPhaiTra.ToString("dd-MM-yyyy")</td>
                        <td></td>                      
                        <td></td>
                        <td>IdTrangThaiSach</td>
                    }
                    @{isMultiBook = true; j++;}
                </tr>
            </tbody>
                            }
                            { i++; dem++; isMultiBook = false; }
                        }
</table>

<p>
    @Html.PagedListPager(Model, Page => Url.Action("DanhSachTra", new { page = Page, day = ViewBag.Day, month = ViewBag.Month, year = ViewBag.Year }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</p>

<style>
    .TraTre {
        background: #fdf0b2;
        color: #000;
    }

    .TraDungHen {
        background: #91d8a9;
        color: #000;
    }
</style>
@section scripts{
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({               
                monthNamesShort: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"],
                //showWeek: true,
                autosize: true,
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-10:+1",
                onSelect: function (dateText, inst) {
                    var ngay = $("input[name='day']").val();
                    window.location.href = '/ThongKe/DanhSachTra?page=1&day=' + ngay;
                }
            }).attr("readonly","readonly");          
        });

        function onMonthSelectedChagned() {
            window.location.href = '/ThongKe/DanhSachTra?page=1&month=' + $("#month").val() + '&year=' + $("#year").val();
        }

        function onYearSelectedChagned() {
            window.location.href = '/ThongKe/DanhSachTra?page=1&month=' + $("#month").val() + '&year=' + $("#year").val();
        }
    </script>
}

