@model PagedList.IPagedList<BiTech.Library.Models.TrangThaiSachViewModels>
@using PagedList.Mvc
@{
    ViewBag.Title = "Tình trạng sách";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

}
<div class="Title">Trạng thái sách</div>

<p>@Html.ActionLink("Thêm mới", "Them", null, new { @class = "btn btn-primary btn-sm" })</p>
<table class="table table-hover table-bordered" border="1">
    <thead>
        <tr class="table-info">
            <th width="50" align="right">STT</th>
            <th width="50%">Tên trạng thái</th>
            <th width="30%">Loại trạng thái</th>
            <th></th>
        </tr>
    </thead>
    @{int i = 1;}
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td align="center" >@(i + (ViewBag.pages - 1) * ViewBag.pageSize)</td>
                <td>@item.TenTT</td>
                <td>@(item.TrangThai ? "Cho phép mượn sách" : "Không cho phép mượn sách")</td>
                <td>
                    <button class="color-white btn btndanger btn-sm btn-inTable" onclick="window.location.href='@Url.Action("Sua", new { id = item.Id })'">
                        <i class="fa">&#xf044;</i> Sửa
                    </button>
                </td>
            </tr>
            { i++; }
        }
    </tbody>
</table>

<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>



