@model BiTech.Library.Models.UserViewModel
@{
    ViewBag.Title = "_CreateUser";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="Title">Tạo mới 1 tài khoản người dùng</div>
<div class="container">
    <h5 class="text-danger">@ViewBag.UnSuccess</h5>


    @using (Html.BeginForm("_CreateUser", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="modal-body">
            <div class="form-group row">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @maxlength = "40" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @maxlength = "20" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.Ten, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Ten, new { @class = "form-control", @maxlength = "40" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.MaSoThanhVien, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.MaSoThanhVien, new { @class = "form-control", @maxlength = "50" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.CMND, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.CMND, new { @class = "form-control", @maxlength = "15" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.DiaChi, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.DiaChi, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.SDT, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.SDT, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Tạo mới" />
                    <input type="button" class="btn btn-default" value="trở lại" onclick="window.location='@Url.Action("Index", "User")'" />
                </div>
            </div>
        </div>
    }
</div>
