@model  List<BiTech.Library.DTO.ThanhVien>
@{
    ViewBag.Title = "_PartialUser";    
}

<div class="text-danger">@ViewBag.SearchFail</div>
<table border="1" class="table table-hover table-bordered">
    <thead>
        <tr class="table-info">
            <th>Tên</th>
            <th>Mã số thành viên</th>            
            <th>CMND</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ten</td>
                <td>@item.MaSoThanhVien</td>
                <td>@item.CMND</td>
                <td>@item.DiaChi</td>
                <td>@item.SDT</td>
                <td>@item.TrangThai</td>
                <td>
                    <a class="color-white btn btn-outline-primary" href="@Url.Action("_Edit",new { @id = item.Id})">
                        <i style="font-size:24px" class="fa">&#xf044;</i> Sửa
                    </a>
                    <a class="color-white btn btn-danger" href="@Url.Action("Delete",new { id = item.Id})">
                        <i style="font-size:24px" class="fa">&#xf044;</i> Xóa
                    </a>
                </td>
                @*<td><a href="@Url.Action("_Edit",new { @id = item.Id})">Sửa</a> | <a href="@Url.Action("Delete",new { id = item.Id})"> Xóa</a></td>*@
            </tr>
        }
    </tbody>
</table>

