@model  BiTech.Library.Models.UserViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@using (Html.BeginForm("Search", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group row">
        <label class="col-form-label col-sm-3" for="tensach">Mã thành viên</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.MaSoThanhVien, new { @class = "form-control", onchange = "OnChangeEvent();"})
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-3" for=""></label>
        <div class="col-md-10">
            <input type="submit" value="Tạo" class="btn btn-primary" />
        </div>
    </div>
}

@*@using (Html.BeginForm("Search", "User", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <div class="row">

            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div align="center">
                    <br />
                    <input type="file" name="barCodeUpload" Class="form-control" ID="barCodeUpload" /><br />
                    <br />
                    <input type="submit" Class="btn btn-primary" ID="UploadButton" value="Upload">
                    <br />
                    <br />
                    <span Class="btn alert-danger">@ViewBag.ErrorMessage</span>
                    <br />
                    <input type="text" Class="form-control col-md-8" value="@ViewBag.BarCode" /><br />
                    <br />
                    <img type="image" src="@ViewBag.BarImage" />
                </div>

            </div>
        </div>
    }*@

<header id="topbar">
    <h5>@Html.ActionLink("Create", "_CreateUser", "User")</h5>
</header>
<h5 class="text-success">@ViewBag.Success</h5>
<h5 class="text-danger">@ViewBag.UnSuccess</h5>
<div class="m10">
    <div class="row">
        @Html.Action("_PartialUser", "User", new { @IdUser = ViewBag.IdUser })
    </div>
</div>

@*@section Scripts{
    <script>
        function OnChangeEvent() {
            var result = @Model;
            console.log(result);
            $.ajax({
                type: "GET",
                url: "@(Url.Action("Search", "User"))",
                data: "model=" + result,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#idTen").val(data.Ten);
                },
                error: function () {
                    alert('Mã thành viên không phù hợp');
                    $("#idTen").val("");
                    $("#idUser").val("");
                }

            });
        }
    </script>
}*@

