@model  BiTech.Library.Models.UserViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="Title">Thành viên</div>
<div class="text-success">@ViewBag.Success</div>
<div class="container">
    @using (Html.BeginForm("Search", "User", FormMethod.Post, new { role = "form" }))
    {
        <div class="input-group mb-3">
            @Html.TextBoxFor(m => m.MaSoThanhVien, new { @placeholder = "Mã thành viên", @class = "form-control", onchange = "OnChangeEvent();" })
            <div class="input-group-append">
                <input type="submit" value="Tìm kiếm" class="btn btn-primary" />
            </div>
        </div>
    }
</div>
@*@using (Html.BeginForm("Search", "User", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <div class="row">

            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div align="center">
                    <br />
                    <input type="file" name="barCodeUpload" Class="form-control" ID="barCodeUpload" /><br />
                    <br />
                    <input type="submit" Class="btn btn-primary" ID="UploadButton" value="Upload">
                    <br />
                    <br />
                    <span Class="btn alert-danger">@ViewBag.ErrorMessage</span>
                    <br />
                    <input type="text" Class="form-control col-md-8" value="@ViewBag.BarCode" /><br />
                    <br />
                    <img type="image" src="@ViewBag.BarImage" />
                </div>

            </div>
        </div>
    }*@

<div id="topbar">
    <h5>@Html.ActionLink("Thêm thành viên", "_CreateUser", "User", new { @class = "btn btn-primary" })</h5>
</div>
<h5 class="text-success">@ViewBag.Success</h5>
<h5 class="text-danger">@ViewBag.UnSuccess</h5>
<div class="m10">
    @Html.Action("_PartialUser", "User", new { @IdUser = ViewBag.IdUser })
</div>

@*@section Scripts{
        <script>
            function OnChangeEvent() {
                var result = @Model;
                console.log(result);
                $.ajax({
                    type: "GET",
                    url: "@(Url.Action("Search", "User"))",
                    data: "model=" + result,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#idTen").val(data.Ten);
                    },
                    error: function () {
                        alert('Mã thành viên không phù hợp');
                        $("#idTen").val("");
                        $("#idUser").val("");
                    }

                });
            }
        </script>
    }*@

