@model BiTech.Library.Models.PhieuMuonModelView

@{
    ViewBag.Title = "_CreatePhieuMuon";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />
<script src="~/bower_components/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h5 class="text-danger">@ViewBag.UnSuccess</h5>
<h5 class="text-danger">@ViewBag.SoLuong</h5>
<h5 class="text-danger">@ViewBag.Date</h5>
<hr />
<div ng-app="LibraryApp" class="container">
    @using (Html.BeginForm("_CreatePhieuMuon", "PhieuMuon", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Tạo phiếu mượn.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.IdUser, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.IdUser, new { @class = "form-control", onchange = "OnChangeEvent();", @id = "idUser" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TenNguoiMuon, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.TenNguoiMuon, new { @class = "form-control", @readonly = "readonly", @id = "idTen" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(m => m.NgayMuon, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.NgayMuon, "{0:d-MM-yyyy}", new { @class = "form-control datepicker", onchange = "OnChangeDayEvent();", @id = "ngayMuon"})
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(m => m.NgayPhaiTra, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @*@Html.EditorFor(m => m.NgayPhaiTra, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextBoxFor(m => m.NgayPhaiTra, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "ngayPhaiTra" })
            </div>
        </div>

        @* Nhập nhiều mã sách *@
        <div class="form-group">
            @Html.LabelFor(m => m.MaSach, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <div id="ListTT" ng-cloak ng-controller="AddBookCtrlr" class="w3-card-2 w3-margin" style="max-width:400px;">
                    <div class="w3-container w3-light-grey w3-padding-16">
                        <div class="w3-row w3-margin-top">
                            <div class="w3-col s10">
                                <input id="idSach" placeholder="Nhập mã sách" ng-model="idBook" class="w3-input w3-border w3-padding" style="height: 38px;outline: none;">
                            </div>
                            <div class="w3-col s2">
                                <a ng-click="addItem()" class="w3-btn w3-padding w3-blue">Thêm </a>
                            </div>
                        </div>
                        <p class="w3-text-red">{{errortext}}</p>
                    </div>

                    <header class="w3-container w3-light-grey w3-padding-16">
                        <h3>Danh sách mượn</h3>
                    </header>

                    <ul class="w3-ul">
                        <li ng-repeat="s in list" class="w3-padding-16" id="lstItem">{{s.IdDauSach}} - {{s.TenSach}}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">×</span></li>
                    </ul>

                    @* gán dữ liệu cho listbox - truyền dữ liệu xuống DB *@
                    @*Hide idBook - post to controller*@
                    <div ng-repeat="s in list">
                        <input hidden="hidden" ng-cloak class="btn btn-default" name="MaSach" value="{{s.IdDauSach}}" />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Tạo mới" />
            </div>
        </div>
        <hr />
    }
</div>

@section Scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/LibraryAngularJS.js"></script>
    <script>
        var i = 0;
        function add_list_ajax() {
            var result = "";
            result = $("#maSach").val();
            console.log(result);
            $.ajax({
                type: "GET",
                url: "@(Url.Action("_GetBookItemById", "PhieuMuon"))",
                data: "idBook=" + result,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    AddOpt = new Option(data.TenSach, data.IdDauSach);
                    document.getElementById("lstValue").options[i++] = AddOpt;
                    $("#lstmaSach").add(data.TenSach)

                    //   var kq = "<div style='color: #f00;'> " + data.IdDauSach + " " + data.TenSach + " </div>";
                    //$("#lstValue").append(kq);
                },
                error: function () { alert('False!'); }
            });
        }

        function deleteValue() {
            var s = 1;
            var Index;
            if (document.getElementById("lstValue").selectedIndex == -1) {
                alert("Please select any item from the ListBox");
                return true;
            }
            while (s > 0) {
                Index = document.getElementById("lstValue").selectedIndex;
                if (Index >= 0) {
                    document.getElementById("lstValue").options[Index] = null;
                    --i;
                    $.ajax({
                        type: "GET",
                        url: "@(Url.Action("_Remove", "PhieuMuon"))",
                        data: "idBook=" + result,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            //   var kq = "<div style='color: #f00;'> " + data.IdDauSach + " " + data.TenSach + " </div>";
                            //$("#lstValue").append(kq);
                        },
                        error: function () { alert('False!'); }
                    });
                }
                else
                    s = 0;
            }
            return true;
        }
        
        //$(function () {
        //    $(".datepicker").datepicker({
        //        showWeek: true,
        //        dateFormat: "dd-mm-yy",
        //        changeMonth: true,
        //        changeYear: true,
        //        yearRange: "-10:+1"
        //    }).attr('readonly', 'readonly');
        //});

        function OnChangeEvent() {
            var result = "";
            result = $("#idUser").val();
            console.log(result);
            $.ajax({
                type: "GET",
                url: "@(Url.Action("GetName", "PhieuMuon"))",
                data: "idUser=" + result,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#idTen").val(data.Ten);
                },
                error: function () {
                    alert('Mã thành viên không phù hợp');
                    $("#idTen").val("");
                    $("#idUser").val("");
                }

            });
        }
        //function OnChangeDayEvent() {
        //    var ngayPhaiTra = "";
        //    var ngayMuon = "";
        //    ngayMuon= $("#ngayMuon").val("dd-MM-yyyy");
        //    ngayPhaiTra = $("#ngayPhaiTra").val();
        //    if (ngayPhaiTra <= ngayMuon) {
        //        alert('Ngày phải trả cần lớn hơn ngày mượn');
        //        $("#ngayPhaiTra").val("");
        //        $("#ngayMuon").val("");
        //    }
        //}

        $(document).ready(function () {
            $("#ngayPhaiTra").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                gotoCurrent: true,
                maxDate: '@Html.Raw(ViewBag.MaxDate)'
            });
        });

        $(document).ready(function () {
            angular.element(document.getElementById('ListTT')).scope().addListItems(@Html.Raw(Json.Encode(Model.MaSach)));
        });
    </script>
}


