@model BiTech.Library.Models.PhieuMuonModelView

@{
    ViewBag.Title = "Mượn Sách";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>*@
@*<script src="~/bower_components/jquery/dist/jquery.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">*@

<div class="Title">Tạo phiếu mượn sách</div>

<h5 class="text-danger">@ViewBag.UnSuccess</h5>
<h5 class="text-danger">@ViewBag.SoLuong</h5>
<h5 class="text-danger">@ViewBag.Date</h5>
<hr />
<div ng-app="LibraryApp" class="container">
    @using (Html.BeginForm("CreatePhieuMuon", "PhieuMuon", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
		
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.IdUser, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.IdUser, new { @class = "form-control", onchange = "OnChangeEvent();", @id = "idUser" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TenNguoiMuon, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.TenNguoiMuon, new { @class = "form-control", @readonly = "readonly", @id = "idTen" })
            </div>
        </div>

        @*<div class="form-group">
        @Html.LabelFor(m => m.NgayMuon, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.NgayMuon, "{0:d-MM-yyyy}", new { @class = "form-control datepicker", onchange = "OnChangeDayEvent();", @id = "ngayMuon"})
        </div>
    </div>*@
        <div class="form-group">
            @Html.LabelFor(m => m.NgayPhaiTra, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">                
                @Html.TextBoxFor(m => m.NgayPhaiTra, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker", @id = "ngayPhaiTra" })
            </div>
        </div>

        @* Nhập nhiều mã sách *@
        <div class="form-group">
            @Html.LabelFor(m => m.MaSach, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                <div id="ListTT" ng-cloak ng-controller="MuonSachChooseBookCtrlr" class="w3-card-2" >
                    <div class="w3-container w3-light-grey w3-padding-16">
                        @*<div class="w3-row w3-margin-top">
                            <div class="w3-col s10">
                                <input id="idSach" placeholder="Nhập mã sách" ng-model="maKiemSoat" class="w3-input w3-border w3-padding" style="height: 38px;outline: none;">
                            </div>
                            <div class="w3-col s2">
                                <a ng-click="addItem()" class="w3-btn w3-padding w3-blue">Thêm </a>
                            </div>
                        </div>*@

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Nhập mã sách" ng-model="maKiemSoat">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="button" ng-click="addItem()">Thêm</button>
                            </div>
                        </div>

                        <p class="w3-text-red">{{errortext}}</p>
                    </div>

                    <header class="w3-container w3-light-grey w3-padding-16">
                        <h3>Danh sách mượn</h3>
                    </header>

                    <ul class="w3-ul">
                        <li ng-repeat="s in list" class="w3-padding-16" id="lstItem">
                            <span>{{s.MaKiemSoat}} - {{s.TenSach}}</span>
                            <input id="sach{{$index}}" type="number" min="0" step="1" ng-model="sachModel" value="{{s.SoLuongMuon}}" no-float ng-blur="updateNumber($index)"/>
                            <span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">×</span>
                        </li>
                    </ul>

                    @* gán dữ liệu cho listbox - truyền dữ liệu xuống DB *@
                    @*Hide idBook - post to controller*@
                    <div ng-repeat="s in list">
                        <input hidden="hidden" ng-cloak class="btn btn-default" name="MaSach" value="{{s}}" />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Tạo mới" />
                <input type="button" onclick="goBack()" class="btn btn-default" value="Trở lại" />
            </div>
        </div>
        <hr />
    }
</div>

@section Scripts{
    @*<script src="~/Scripts/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker/js/locales/bootstrap-datepicker.vi.js"></script>*@
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/LibraryAngularJS.js"></script>
    <script>
        app.directive('noFloat', function () {
            return {
                restrict: 'A',
                link: function (scope, elm, attrs, ctrl) {
                    elm.on('keydown', function (event) {
                        if ([110, 190].indexOf(event.which) > -1) {
                            // dot and numpad dot
                            event.preventDefault();
                            return false;
                        }
                        else {
                            return true;
                        }
                    });
                }
            }
        });

        function OnChangeEvent() {
            var result = "";
            result = $("#idUser").val();
            console.log(result);
            $.ajax({
                type: "GET",
                url: "@(Url.Action("GetName", "PhieuMuon"))",
                data: "idUser=" + result,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#idTen").val(data.Ten);
                },
                error: function () {
                    alert('Mã thành viên không phù hợp');
                    $("#idTen").val("");
                    $("#idUser").val("");
                }

            });
        }



        $(function () {
            $("#ngayPhaiTra").datepicker({
                //showWeek: true,
                dateFormat: "dd/mm/yy",
                monthNames: ['Tháng 1', 'Tháng 2','Tháng 3','Tháng 4','Tháng 5','Tháng 6','Tháng 7','Tháng 8','Tháng 9','Tháng 10',,'Tháng 11','Tháng 12',],
                //monthNamesShort: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"],
                //changeMonth: true,
                //changeYear: true,
                //gotoCurrent: true,
                dayNamesMin: ["T2", "T3", "T4", "T5", "T6", "T7", "CN"],
                minDate: 0,
                maxDate: @Html.Raw(ViewBag.MaxDate),
            }).datepicker("setDate", new Date() + 1).attr("readonly", "readonly");
        });

        $(document).ready(function () {
            angular.element(document.getElementById('ListTT')).scope().addListItems(@Html.Raw(Json.Encode(Model.MaSach)));
        });
    </script>
}


