@model BiTech.Library.Models.PhieuMuonModelView
@{
    ViewBag.Title = "_EditPhieuMuon";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />

<h5 class="text-danger">@ViewBag.UnSuccess</h5>
<h5 class="text-danger">@ViewBag.Validate</h5>
<hr />

@using (Html.BeginForm("EditPhieuMuon", "PhieuMuon", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Cập nhật.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.IdUser, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.IdUser, new { @class = "form-control", @readonly = "readonly" })
        </div>
        @Html.ValidationMessageFor(m => m.IdUser)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TenNguoiMuon, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TenNguoiMuon, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NgayMuon, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NgayMuon, "{0:dd-MM-yyyy}", new { @class = "form-control", @readonly = "readonly" } )
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NgayPhaiTra, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NgayPhaiTra, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TrangThaiPhieu, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(m => m.TrangThaiPhieu)
        </div>
    </div>

    @*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Lưu" />
        </div>
    </div>*@

    <div class="form-group row">
        <label class="col-form-label col-sm-3 form-label" for=""></label>
        <div class="col-sm-6">
            <input type="submit" class="btn btn-primary" value="Lưu" />
            <input type="button" value="Xóa" class="btn btn-danger" onclick="XoaItem('@Model.Id')" />
            <input type="button" value="Trở lại" onclick="location.href='/PhieuMuon';" class="btn btn-default" />
        </div>
    </div>
}

<div id="ajaxBox"></div>
@section Scripts{
<script src="~/bower_components/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/bower_components/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                //showWeek: true,
                dateFormat: "dd/mm/yy",
                monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                //changeMonth: true,
                //changeYear: true,
                dayNamesMin: ["T2", "T3", "T4", "T5", "T6", "T7", "CN"],
                minDate: 0,
                maxDate: 15,
                //yearRange: "-10:+1",                
            }).datepicker("setDate", new Date()).attr('readonly', 'readonly');
        });

        function XoaItem(id) {
            swal({
                title: " Bạn có muốn xóa?",
                text: "Bạn sẽ không thể khôi phục lại sau khi xóa!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Có",
                cancelButtonText: "Không",
                closeOnConfirm: false,
                closeOnCancel: true
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: 'POST',
                        url: "/PhieuMuon/Delete",
                        data: { "id": id },
                        success: function (resultData) {
                            swal({
                                title: "Bạn đã xóa thành công!",
                                type: "success",
                                showCancelButton: false,
                                confirmButtonText: "OK",
                                closeOnConfirm: false
                            },
                            function (isConfirm) {
                                window.location.href = '/PhieuMuon';
                            });
                        }
                    });
                }
            });
        }
    </script>
}

