@model PagedList.IPagedList<BiTech.Library.Models.NhaXuatBanViewModels>
@using PagedList.Mvc
@{
    ViewBag.Title = "DanhSachNXB";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
   
}

        <div class="Title">Danh Sách nhà xuất bản</div>
      
        <p>@Html.ActionLink("Thêm mới", "Them", null, new { @class = "btn btn-primary btn-sm" })</p>
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="table-info">
                    <th width="50" align="right">STT</th>
                    <th>Tên nhà xuất bản</th>
                    <th>Thông tin</th>
                    <th>

                    </th>
                </tr>
            </thead>
            @{int i = 1;}
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="center">@(i + (ViewBag.pages - 1) * ViewBag.pageSize)</td>
                        <td>@item.Ten</td>
                        <td>@item.GhiChu</td>
                        <td>
                            <a class="color-white btn btn-primary btn-sm btn-inTable" href="@Url.Action("Sua",new { id = item.Id})">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sửa
                            </a>
                        </td>
                    </tr>
                    { i++; }
                }
            </tbody>
        </table>
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>

