@model BiTech.Library.Models.NhaXuatBanViewModels
@{
    ViewBag.Title = "SuaNXB";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<link href="~/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />
<div class="Title">Sửa Nhà Xuất Bản</div>

<div class="form-group row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary btn-sm" onclick="goBack()">
            <i class="fa fa-arrow-circle-left" style="padding-right: 4px;font-size: 17px;"></i>Trở lại
        </button>
    </div>
</div>

<div class="container">
    @using (Html.BeginForm("Sua", "NhaXuatBan", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="Ten">Nhà xuất bản:</label>
            <div class="col-sm-10">
                @Html.EditorFor(Model => Model.Ten, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(m => m.Ten, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="GhiChu">Ghi chú:</label>
            <div class="col-sm-10">

                @Html.TextAreaFor(Model => Model.GhiChu, new { @placeholder="Ghi chú", @class = "form-control form-control-sm" } )
                
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2"></label>
            <div class="col-sm-10">
                <input type="submit" name="btnSuanxb" class="btn btn-primary btn-sm" value="Cập nhật" />
                <input type="button" value="Xóa" class="btn btn-danger btn-sm" onclick="XoaNXB('@Model.Id','@Model.Ten')" />
            </div>
        </div>
    }
</div>
@section scripts{
    <script src="~/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function XoaNXB(id,ten) {
            swal({
                title: " Bạn có muốn xóa nhà xuất bản " + ten + "?",
                text: "Bạn sẽ không thể khôi phục lại nhà xuất bản này sau khi xóa!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Có",
                cancelButtonText: "Không",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: 'POST',
                        url: "/NhaXuatBan/Xoa",
                        data: { "Id": id },
                        success: function (resultData) {
                            swal({
                                title: "Bạn đã xóa thành công!",
                                text: "Bạn sẽ không thể khôi phục lại nhà xuất bản này sau khi xóa!",
                                type: "success",
                                showCancelButton: false,
                                confirmButtonText: "OK",
                                closeOnConfirm: false
                            },
                            function (isConfirm) {
                                window.location.href = '/NhaXuatBan/Index';
                            });
                        }
                    });
                } else {
                    swal("Cancelled", "Your imaginary file is safe :)", "error");
                }
            });
        }
    </script>
}



