@model  List<BiTech.Library.Models.MuonTraSachViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    int index_list_tb = 1;
    //ViewBag.ThongBao = true;
}
<link href="~/Content/AutoComplete.css" rel="stylesheet" />
<div class="Title">Gia hạn sách</div>

<div ng-app="LibraryApp" class="container-mt">


    @*Chưa có user*@
    @if (!ViewBag.hasUser)
    {
        <div class="box-left clearfix p-1">
            <div class="row">
                <div class="col-md-9">

                    <div class="container-box-window danhsachmuon clearfix">
                        <div class="top">
                            <span class="">Tìm kiếm thành viên</span>
                        </div>
                        <div class="content-box-window clearfix">

                            <div class="search-thanhvien">
                                @if (ViewBag.ThongBao)
                                {
                                    <div class="alert p-2 alert-danger alert-dismissible fade show">
                                        <button type="button" class="close p-1" data-dismiss="alert">&times;</button>
                                        <strong>Thông báo!</strong> @ViewBag.ThongBaoString
                                    </div>
                                }

                                @using (Html.BeginForm("Index", "GiaHan", FormMethod.Get, new { role = "form", id = "GiaHan" }))
                                {
                                    <div class="input-group mb-3 p-1">
                                        <div class="form-control form-control-sm p-0" style="position:relative;">
                                            <input class="form-control form-control-sm border-0"
                                                   id="list_maThanhVien" name="IdUser"
                                                   autocomplete="off" placeholder="Nhập mã học sinh hoặc giáo viên ..."
                                                   onkeydown="if (event.keyCode == 13) { search_user(); }" />
                                        </div>
                                        <div class="input-group-append">
                                            <input type="submit" value="Tìm kiếm" class="btn btn-primary btn-sm" />
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-md-3 pl-md-0">
                    <div class="container-box-window box-Thongtinuser clearfix">
                        <div class="top">
                            <span class="">Thông tin thành viên</span>
                        </div>
                        <div class="content-box-window Thongtinuser">
                            <img class="avatar_detail detail-control-img" src="/Content/Images/user5.jpg" onerror="this.src = '/Content/Images/user5.jpg'" />
                            <div class="ten">Tên thành viên</div>
                            <div class="mks">- Mã kiểm soát -</div>
                            <ul class="list">
                                <li><b>Lớp/Tổ: </b>...</li>
                                <li><b>Niên khoá: </b>...</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (ViewBag.hasUser)
    {

        <div style="display: none;" id="Thongtinuser">
            <img class="avatar_detail detail-control-img" src="@Html.Raw(ViewBag.user.HinhChanDung)" onerror="this.src = '/Content/Images/user5.jpg'" />
            <div class="ten">@ViewBag.user.Ten</div>
            <div class="mks">- @ViewBag.user.MaSoThanhVien -</div>
            <ul class="list">
                <li><b>Lớp/Tổ: </b>@ViewBag.user.LopHoc</li>
                <li><b>Niên khoá: </b>@ViewBag.user.NienKhoa</li>
            </ul>
            <button class="btn btn-primary btn-sm w-100" onclick="window.location='/GiaHan'">Thoát</button>
        </div>

        <div class="container-mt-sach clearfix " ng-controller="GiaHanCtrlr" ng-init="GetListBook()">

            @if (ViewBag.flagResult)
            {
                <div class="box-left clearfix p-1">

                    <div class="row">

                        <div class="col-md-9">
                            <div class="container-box-window danhsachmuon clearfix">
                                <div class="top">
                                    <span class="">Tìm kiếm thành viên</span>
                                </div>
                                <div class="content-box-window danhsachmuon">
                                    <div class="search-thanhvien">
                                        @if (ViewBag.ThongBao)
                                        {
                                            <div class="alert p-2 alert-danger alert-dismissible fade show">
                                                <button type="button" class="close p-1" data-dismiss="alert">&times;</button>
                                                <strong>Thông báo!</strong> @ViewBag.ThongBaoString
                                            </div>
                                        }

                                        @using (Html.BeginForm("Index", "GiaHan", FormMethod.Get, new { role = "form", id = "GiaHan" }))
                                        {
                                            <div class="input-group mb-3 pt-1 pb-2">
                                                <div class="form-control form-control-sm p-0" style="position:relative;">
                                                    <input class="form-control form-control-sm border-0"
                                                           id="list_maThanhVien" name="IdUser"
                                                           autocomplete="off" placeholder="Nhập mã học sinh hoặc giáo viên ..."
                                                           onkeydown="if (event.keyCode == 13) { search_user(); }" />
                                                </div>
                                                <div class="input-group-append">
                                                    <input type="submit" value="Tìm kiếm" class="btn btn-primary btn-sm" />
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    @if (Model.Count > 0)
                                    {
                                        <div id="box_ThongBao">
                                            <div class="alert alert-info mb-1 p-2 alert-dismissible fade show">
                                                <strong>Gia hạn thành công!</strong>
                                            </div>
                                        </div>
                                    }
                                    <div class="danhsachmuon-result box-table-min">
                                        <table class="table table-hover table-bordered table-min mb-0" border="1">
                                            <thead>
                                                <tr class="table-info text-center">
                                                    <th width="50">STT</th>
                                                    <th width="15%">Mã sách</th>
                                                    <th width="40%">Tên sách</th>
                                                    <th width="20%">Ngày mượn</th>
                                                    <th width="20%">Ngày phải trả</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr class="text-center">
                                                        <td align="center">@(index_list_tb++)</td>
                                                        <td>@item.MaKSCB</td>
                                                        <td>@item.TenSach</td>
                                                        <td>@DateTime.Now.ToString("dd/MM/yyyy")</td>
                                                        <td>@item.NgayTraNew</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 pl-md-0">
                            <div class="container-box-window box-Thongtinuser clearfix">
                                <div class="top">
                                    <span class="">Thông tin thành viên</span>
                                </div>
                                <div class="content-box-window Thongtinuser Thongtinuser-out">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            }
            else
            {

                <div class="box-left clearfix p-1">

                    <div class="row">

                        <div class="col-md-9">
                            <div class="container-box-window danhsachmuon clearfix">
                                <div class="top">
                                    <span class="">Danh sách trả</span>
                                </div>

                                <div class="content-box-window">
                                    <div class="form-mt-sach row" id="form_Sach">

                                        @*<div class="form-group col-md-6">
                                            <label for="email">Trạng thái sách:</label>
                                            <select class="form-control form-control-sm" ng-init="item.carType='none'" ng-model="modelTT">
                                                <option ng-repeat="y in list_book_TinhTrang" value="{{y.Id}}">{{y.TenTT}}</option>
                                            </select>
                                        </div>*@

                                        <div class="form-group col-md-12">
                                            <label for="email">Mã sách:</label>
                                            <div class="input-group mb-3">
                                                <div class="form-control form-control-sm p-0" style="position:relative;">
                                                    <input class="form-control form-control-sm border-0" id="MaSach" ng-model="masach"
                                                           autocomplete="off"
                                                           onkeydown="if (event.keyCode == 13) {search_book()}"
                                                           placeholder="Nhập mã sách ..." />
                                                </div>

                                                <div class="input-group-append">
                                                    <input type="button" id="searchMaSachbtn" value="Thêm danh sách trả" ng-click="GetBook_loading()" class="btn btn-primary btn-sm" />
                                                </div>
                                            </div>
                                            @*<div class="progress mt-1 mb-1 hidden_lib" style="height: 10px;" ng-class="{hidden_lib: loading_bar==false}">
                                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                                    </div>
                                                <div class="hidden_lib" id="box_ThongBao" ng-class="{hidden_lib: show_thongbao==false}">
                                                    <div ng-if="!show_thongbao_CoSach" class="alert mt-1 mb-1 p-2 alert-danger alert-dismissible fade show">
                                                        <strong>Thông báo!</strong> {{NoiDungThongBao}}
                                                    </div>
                                                </div>*@
                                        </div>

                                        <div class="form-group" style="display: none;">
                                            <label for="pwd">Ngày trả:</label>
                                            <input type="text" class="form-control form-control-sm " ng-model="ngaytra" id="ngayPhaiTra">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <div class="progress mt-1 mb-1 hidden_lib" style="height: 10px;" ng-class="{hidden_lib: loading_bar==false}">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                            </div>
                                            <div class="hidden_lib" id="box_ThongBao" ng-class="{hidden_lib: show_thongbao==false}">
                                                <div ng-if="!show_thongbao_CoSach" class="alert mt-1 mb-1 p-2 alert-danger alert-dismissible fade show">
                                                    <strong>Thông báo!</strong> {{NoiDungThongBao}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="danhsach-mt-sach-new">
                                        <div class="form-group">
                                            <div class="danhsach-mt-sach-old box-table-min">
                                                <table class="table table-hover table-bordered table-min mb-0" border="1">
                                                    <thead>
                                                        <tr class="table-info text-center">
                                                            <th width="50">STT</th>
                                                            <th width="15%">Mã sách</th>
                                                            <th width="40%">Tên sách</th>
                                                            <th width="20%">Ngày mượn</th>
                                                            <th width="20%">Ngày phải trả</th>
                                                            @*<th width="15%">Trạng thái sách</th>*@
                                                            <th width="100" style="text-align: center;">
                                                                <i class="fa fa-trash-o" title="Xoá tất cả" ng-click="ResetListBookQueue()" style="font-size:20px; cursor:pointer;"></i>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr class="text-center" ng-repeat="x in list_book_queue | orderBy : '-NgayMuon'" my-repeat-directive>
                                                            <td>{{$index + 1}}</td>
                                                            <td>{{ x.MaKSCB }}</td>
                                                            <td>{{ x.TenSach }}</td>
                                                            <td>
                                                                {{ x.NgayMuon }}
                                                            </td>
                                                            <td>
                                                                <input type="text"
                                                                       class="form-control form-control-sm ngayPhaiTra_{{x.Id}}"
                                                                       >
                                                            </td>
                                                            @*<td>
                                                                {{ x.TinhTrangSachTen }}
                                                            </td>*@
                                                            <td align="center">
                                                                <i class="fa fa-remove text-danger" ng-click="removeItem($index)" style="font-size:20px; cursor:pointer;"></i>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="form-group m-0 clearfix">
                                            <button type="button" ng-click="GiaHan()" class="btn btn-primary btn-sm float-right">Gia hạn sách</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 pl-md-0">
                            <div class="container-box-window box-Thongtinuser clearfix">
                                <div class="top">
                                    <span class="">Thông tin thành viên</span>
                                </div>
                                <div class="content-box-window Thongtinuser Thongtinuser-out">

                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="box-right clearfix p-1 mt-3">
                    <div class="container-box-window clearfix">
                        <div class="top">
                            <span class="">Danh sách đang mượn</span>
                        </div>

                        <div class="content-box-window">
                            <div class="danhsach-mt-sach-old box-table-min">

                                <table class="table table-hover table-bordered table-min mb-0" border="1">
                                    <thead>
                                        <tr class="table-info text-center">
                                            <th width="50" align="right">STT</th>
                                            <th width="15%">Mã sách</th>
                                            <th width="50%">Tên sách</th>
                                            <th width="15%">Ngày mượn</th>
                                            <th width="15%">Ngày phải trả</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr style="cursor: pointer;" class="text-center" ng-repeat="x in list_book_dangmuon | orderBy : '-NgayMuon'" ng-class="x.TinhTrang?'table-danger':''" ng-click="GetBook_Choice_DayNew(x.MaKSCB, x.NgayMuon,x.NgayTra)">
                                            <td align="center">{{$index + 1}}</td>
                                            <td>{{ x.MaKSCB }}</td>
                                            <td>{{ x.TenSach }}</td>
                                            <td>{{ x.NgayMuon | date  }}</td>
                                            <td>{{ x.NgayTra | date  }}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            }


            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Gia hạn ngày trả sách</h4>
                            <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body row">
                            <div class="form-group form-group-sm col-md-12">
                                <input type="text" data-chon="false"
                                       class="form-control form-control-sm ngayPhaiTra_Change"
                                       />
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-sm" ng-click="GetBook_Choice_TinhTrang_result_true()">Gia hạn</button>
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Đóng</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    }
</div>



@section Scripts{

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/angular-1.6.8/angular.min.js"></script>
    <script src="~/Scripts/LibraryAngularJS.js"></script>


    @if (ViewBag.hasUser)
    {
        if (ViewBag.flagResult)
        {
            <script>
                $(function () {
                    AutoComplete(document.getElementById("list_maThanhVien"), [@Html.Raw("'" + string.Join("', '", (List<string>)ViewBag.list_maThanhVien) + "'")]);
                });
            </script>
        }
        else
        {
            <script>
                $(function () {
                    AutoComplete(document.getElementById("MaSach"), [@Html.Raw("'" + string.Join("', '", (List<string>)ViewBag.list_maSach) + "'")],true);
                });
            </script>
        }

    }
    else
    {
        <script>
            $(function () {
                AutoComplete(document.getElementById("list_maThanhVien"), [@Html.Raw("'" + string.Join("', '", (List<string>)ViewBag.list_maThanhVien) + "'")]);
            });
        </script>
    }

    <script>

        $(function () {
            load_datepicker("ngayPhaiTra");
            //load_datepicker("ngayPhaiTra_Change");

            $(".Thongtinuser-out").html($("#Thongtinuser").html());
        });

        function reset_book(){
            //load_datepicker();
        }

        function show_modal(){
            $("#myModal").modal();
        }

        function hide_modal(){
            $("#myModal").modal('hide');
        }

        function search_book(){
            setTimeout(function () {
                $("#searchMaSachbtn").click();
            }, 10);
        }

        function search_user(){
            setTimeout(function () {
                $("#GiaHan").submit();
            }, 10);
        }

        function load_datepicker(name_id, day){
            $("."+name_id).datepicker({
                //showWeek: true,
                dateFormat: "dd/mm/yy",
                monthNames: ['Tháng 1', 'Tháng 2','Tháng 3','Tháng 4','Tháng 5','Tháng 6','Tháng 7','Tháng 8','Tháng 9','Tháng 10','Tháng 11','Tháng 12',],
                //monthNamesShort: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"],
                //changeMonth: true,
                //changeYear: true,
                //gotoCurrent: true,
                dayNamesMin: ["CN", "T2", "T3", "T4", "T5", "T6", "T7"],
                minDate: 0,
                maxDate: @Html.Raw(ViewBag.MaxDate),
            }).datepicker("setDate", day).attr("readonly", "readonly");
        }

        // AutoCompelete Search
        function AutoComplete(inp, arr, blib_masach_bool) {
            var currentFocus;
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "AutoComplete-list");
                a.setAttribute("class", "AutoComplete-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        b = document.createElement("DIV");
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        b.addEventListener("click", function (e) {
                            //Gstore
                            //chuyển mks-tensach => msk và thêm vào input
                            if(blib_masach_bool){
                                var temp = this.getElementsByTagName("input")[0].value;
                                var arrStr = temp.split('-');
                                inp.value = arrStr[0];
                            }else{
                                inp.value = this.getElementsByTagName("input")[0].value;
                            }
                            //End Gstore
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "AutoComplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    currentFocus++;
                    addActive(x);
                } else if (e.keyCode == 38) {
                    currentFocus--;
                    addActive(x);
                } else if (e.keyCode == 13) {
                    e.preventDefault();
                    if (currentFocus > -1) {
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                if (!x) return false;
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                x[currentFocus].classList.add("AutoComplete-active");
            }
            function removeActive(x) {
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("AutoComplete-active");
                }
            }
            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("AutoComplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

    </script>
}