@*@model  List<BiTech.Library.DTO.ThanhVien>*@
@model PagedList.IPagedList<ThanhVien>
@using PagedList.Mvc;
@using BiTech.Library.DTO
@{
    ViewBag.Title = "_PartialUser";
    int stt = 1;
}
<div class="text-danger">@ViewBag.SearchFail</div>
@*<input class="form-control" id="mySearch" type="text" placeholder="Tìm kiếm..">*@
<table ng-app="LibraryApp" border="1" class="table table-hover table-bordered">

    <thead>
        <tr class="table-info">
            <th class="text-center">STT</th>
            @*<th>Ảnh thành viên</th>*@
            <th>Tên học sinh</th>
            <th>Mã học sinh</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model)
        {

            <tr>
                <td class="text-center">@((ViewBag.pageSize * (ViewBag.pages - 1)) + stt)</td>
                @*<td>@stt</td>*@
                <!--<td class="book_box">
                    <div class="book_content">
                        <div class="book_image">
                            <div class="book_image_in">
                                @*<div class="book_number">@((ViewBag.pageSize * (ViewBag.pages - 1)) + stt)</div>*@
                                <object data='@Html.Raw(!string.IsNullOrEmpty(item.HinhChanDung) ? item.HinhChanDung : "/Content/Images/nancyy.jpg")' type="image/png"></object>                                
                            </div>
                        </div>
                    </div>
                </td>-->
                <td>@Html.ActionLink(@item.Ten, "Details", new { idUser = @item.Id }, null) </td>
                <td>@item.MaSoThanhVien</td>
                @{
                    if (item.TrangThai == EUser.Active)
                    {
                        <td>Đang kích hoạt</td>
                    }
                    else if (item.TrangThai == EUser.DeActive)
                    {
                        <td>Đã bị khóa</td>
                    }
                }
                @*<td ng-controller="UserChucVuCtrlr" ng-init="GetNameChucVu('@item.IdChucVu')">{{ ChucVu }}</td>*@
                <td>
                    <a class="color-white btn btn-sm btn-outline-primary" href="@Url.Action("Details", new { @IdUser = @item.Id })">
                        <i style="font-size:20px" class="fa">&#xf0f6;</i> Xem thông tin chi tiết
                    </a>
                    @if (item.TrangThai == EUser.Active)
                    {
                        <a class="color-white btn btn-sm btn-danger my-button" href="javascript:Delete('@item.Id','@item.Ten')">
                            <i style="font-size:20px" class="fa">&#xf044;</i> Khóa
                        </a>
                    }
                    else if (item.TrangThai == EUser.DeActive)
                    {
                        <a class="color-white btn btn-sm btn-danger my-button" href="@Url.Action("Delete",new {  @id = item.Id})">
                            <i style="font-size:20px" class="fa">&#xf044;</i> Kích hoạt
                        </a>
                    }

                </td>
                @*<td><a href="@Url.Action("_Edit",new { @id = item.Id})">Sửa</a> | <a href="@Url.Action("Delete",new { id = item.Id})"> Xóa</a></td>*@
            </tr>
                        { stt++; }
                    }
    </tbody>
</table>
<p>
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { page = Page }))
</p>