@model BiTech.Library.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}

<div class="Title">Đổi mật khẩu</div>
<div class="form-group row">
    <div class="col-md-12">
        <button type="button" class="btn btn-sm btn-primary" onclick="window.location='@Url.Action("Details", "HocSinh",new { idUser=Model.Id})'">
            <i class="fa fa-arrow-circle-left" style="padding-right: 4px;font-size: 17px;"></i>Trở lại
        </button>
    </div>
</div>
<div class="container">

    @using (Html.BeginForm("ChangePassword", "HocSinh", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="text-success">@ViewBag.Sussces</div>
        <div class="text-danger">@ViewBag.Error</div>
        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="modal-body">

            <div class="form-group row">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control form-control-sm", @maxlength = "40" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control form-control-sm", @maxlength = "40" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-sm", @maxlength = "40" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3"></div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-sm btn-primary" value="Lưu" />
                </div>
            </div>

        </div>
    }
</div>
