@model BiTech.Library.Models.UserViewModel
@{
    ViewBag.Title = "Details";
}
<link href="~/Content/AvatarDetail.css" rel="stylesheet" />
<h2>Thông tin học sinh: @Model.Ten</h2>
<button type="button" class="btn btn-sm btn-primary" onclick="window.location='@Url.Action("Index", "HocSinh")'">
    <i class="fa fa-arrow-circle-left" style="padding-right: 4px;font-size: 17px;"></i>Trở lại
</button>
<div class="container">
    <div class="row h5">
        <div>
            <img class="avatar_detail" src="@Html.Raw(Model.LinkAvatar)" />
        </div>
        <div class="col-md-6">
            <table>
                <tr>
                    <td>Tên User:</td>
                    <td>@Model.UserName</td>
                </tr>
                <tr>
                    <td>Mã số học sinh:</td>
                    <td> @Model.MaSoThanhVien</td>
                </tr>
                <tr>
                    <td>Họ và tên:</td>
                    <td>@Model.Ten</td>
                </tr>
                <tr>
                    <td>Giới tính:</td>
                    <td>@Model.GioiTinh</td>
                </tr>
                <tr>
                    <td>Ngày sinh:</td>
                    <td>@Model.NgaySinh</td>
                </tr>
                <tr>
                    <td>Lớp học:</td>
                    <td>@Model.LopHoc</td>
                </tr>
                <tr>
                    <td>Niêm khóa:</td>
                    <td>@Model.NienKhoa</td>
                </tr>
                <tr>
                    <td>Địa chỉ:</td>
                    <td>@Model.DiaChi</td>
                </tr>
                <tr>
                    <td>Số điện thoại:</td>
                    <td>@Model.SDT</td>
                </tr>
            </table>
        </div>
    </div>
    <img src="@Model.QRLink" alt="Mã QR" style="width:auto" />
</div>
<table class="table table-hover table-bordered">
    <thead>
        <tr class="table-info">
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a class="color-white btn btn-sm btn-outline-primary" href="@Url.Action("_Edit", new { @id = @Model.Id })">
                    <i style="font-size:20px" class="fa">&#xf044;</i> Sửa thông tin
                </a>
                <a class="color-white btn btn-sm btn-outline-primary" href="@Url.Action("ChangePassword", new { @idUser = @Model.Id })">
                    <i style="font-size:20px" class="fa">&#xf044;</i> Đổi mật khẩu
                </a>
            </td>
        </tr>
    </tbody>
</table>
