@model BiTech.Library.Models.UserViewModel
@{
    ViewBag.Title = "Chi tiết học sinh";
}
<link href="~/Content/AvatarDetail.css" rel="stylesheet" />
<link href="~/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />
<div class="Title">Thông tin học sinh: @Model.Ten</div>

<div class="form-group row">
    <div class="col-md-12">
        <button type="button" class="btn btn-sm btn-primary" onclick="window.location='@Url.Action("Index", "HocSinh")'">
            <i class="fa fa-arrow-circle-left" style="padding-right: 4px;font-size: 17px;"></i>Trở lại
        </button>
    </div>
</div>

<div class="detail-container container-dl">
    <div class="col-dl-left">
        <img class="avatar_detail detail-control-img" src="@Html.Raw(Model.LinkAvatar)" onerror="this.src = '/Content/Images/user5.jpg'" />

        <div class="col detail-tool">
            <a class="color-white btn btn-sm btn-primary" href="@Url.Action("_Edit", new { @id = @Model.Id })">
                <i style="font-size:20px" class="fa">&#xf044;</i> Sửa thông tin
            </a>
            <a class="color-white btn btn-sm btn-primary" href="@Url.Action("ChangePassword", new { @idUser = @Model.Id })">
                <i style="font-size:20px" class="fa">&#xf044;</i> Đổi mật khẩu
            </a>
            <a class="color-white btn btn-sm btn-primary" href="#">
                <i style="font-size:20px" class="fa fa-id-card"></i> In thẻ thư viện
            </a>
        </div>
        <img class="detail-control-img" src="@Model.QRLink" alt="Mã QR" style="width:auto" />
    </div>

    <div class="col-dl-right">
        <div class="col-lg-12" style="display:block; padding-left:12px; padding-right:12px;">
            <div class="form-group-sm row">
                <div class="col-md-6">
                    <label class="col-form-label form-label">Tên đăng nhập</label>
                    <p class="detail-control">@Model.UserName</p>
                </div>
                <div class="col-md-6">
                    <label class="col-form-label form-label">Tên học sinh</label>
                    <p class="detail-control">@Model.Ten</p>
                </div>
            </div>
            <div class="form-group-sm row">
                <div class="col-md-6">
                    <label class="col-form-label form-label">Mã số tài khoản</label>
                    <p class="detail-control">@Model.MaSoThanhVien</p>
                </div>
                <div class="col-md-6">
                    <label class="col-form-label form-label">Ngày sinh</label>
                    <p class="detail-control">@Model.NgaySinh.ToString("dd/MM/yyyy")</p>
                </div>
            </div>
            <div class="user-dl-spc">

            </div>
            <div class="form-group-sm row">
                <div class="col-md-6">
                    <div class="container-dl user-dl-spc" style="margin-bottom:0px;">
                        @switch (Model.TrangThai)
                        {
                            case BiTech.Library.DTO.EUser.Active:
                                <a class="color-white btn btn-success button-dl-spc" title="Khoá"
                                   href="javascript:DeactiveMember('@Model.Id','@Model.Ten')">
                                    <i class="fa fa-unlock" style="font-size:20px; margin:auto;"></i>
                                </a>
                                <span class="tag-sm tag-default">Đang kích hoạt</span>
                                break;
                            case BiTech.Library.DTO.EUser.DeActive:
                                <a class="color-white btn btn-danger button-dl-spc" title="Kích hoạt"
                                   href="javascript:ActiveMember('@Model.Id','@Model.Ten')">
                                    <i class="fa fa-unlock-alt" style="font-size:20px"></i>
                                </a>
                                <span class="tag-sm tag-default">Đang bị khóa</span>
                                break;
                            case BiTech.Library.DTO.EUser.Deleted:
                                <span class="tag-sm tag-default">Đã xóa tạm</span>
                                break;
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-form-label form-label">Trạng thái thẻ</label>
                    @switch (Model.TrangThai)
                    {
                        case BiTech.Library.DTO.EUser.Active:
                            <p class="detail-control">Bình thường</p>
                            break;
                        case BiTech.Library.DTO.EUser.DeActive:
                            <p class="detail-control">Bị khóa</p>
                            break;
                        case BiTech.Library.DTO.EUser.Deleted:
                            <p class="detail-control">Đã xóa tạm</p>
                            break;
                    }
                </div>
            </div>
            <div class="form-group-sm row">
                <div class="col-md-6">
                    <label class="col-form-label form-label">Mã học sinh</label>
                    <p class="detail-control">@Model.MaSoThanhVien</p>
                </div>
                <div class="col-md-6">
                    <label class="col-form-label form-label">Giới tính</label>
                    <p class="detail-control">@Model.GioiTinh</p>
                </div>
            </div>

            <div class="form-group-sm row">
                <label class="col-sm-4 detail-label">Ngày sinh:</label>
                <div class="col-sm-8">
                    @{
                        if (@Model.NgaySinh.ToString("dd-MM-yyyy").Equals("01-01-0001") == true)
                        {
                            <p>--/--/----</p>
                        }
                        else
                        {
                            <p class="detail-control">@Model.NgaySinh.ToString("dd-MM-yyyy")</p>
                        }
                    }                    
                </div>
            </div>
            <div class="form-group-sm row">
                <label class="col-sm-4 detail-label">Lớp học:</label>
                <div class="col-sm-8">
                    <p class="detail-control">@Model.LopHoc</p>
                </div>
                <div class="col-md-6">
                    <label class="col-form-label form-label">Niên khóa</label>
                    <p class="detail-control">@Model.NienKhoa</p>
                </div>
            </div>

            <div class="form-group-sm row">
                <div class="col-md-6">
                    <label class="col-form-label form-label">Địa chỉ</label>
                    <p class="detail-control">@Model.DiaChi</p>
                </div>
                <div class="col-md-6">
                    <label class="col-form-label form-label">Số điện thoại</label>
                    <p class="detail-control">@Model.SDT</p>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/bower_components/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function DeactiveMember(Id, Ten) {
        swal({
            title: "Bạn có chắc muốn khóa học sinh " + Ten + " không?",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Có",
            cancelButtonText: "Không",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: 'POST',
                    url: '/HocSinh/DeactiveMember',
                    data: { "Id": Id },
                    success: function (resultData) {
                        var title = "";
                        var text = "";
                        var type = "";
                        if(resultData.status == true){
                            title = "Khóa thành công!";
                            type = "success";
                        }
                        else{
                            title = "Khóa thất bại!";
                            text = resultData.data;
                            type = "error";
                        }

                        swal({
                            title: title,
                            text: text,
                            type: type,
                            showCancelButton: false,
                            confirmButtonText: "OK",
                            closeOnConfirm: true
                        },
                        function (isConfirm) {
                            location.reload();
                        });
                    }
                })
            } else {
                swal("Hủy!", null, "error");
            }
        });
    }

    function ActiveMember(Id, Ten) {
        swal({
            title: "Bạn muốn mở khóa học sinh " + Ten + " không?",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Có",
            cancelButtonText: "Không",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: 'POST',
                    url: '/HocSinh/ActiveMember',
                    data: { "Id": Id },
                    success: function (resultData) {

                        var title = "";
                        var text = "";
                        var type = "";
                        if(resultData.status == true){
                            title = "Mở khóa thành công!";
                            type = "success";
                        }
                        else{
                            title = "Mở khóa thất bại!";
                            text = resultData.data;
                            type = "error";
                        }

                        swal({
                            title: title,
                            text: text,
                            type: type,
                            showCancelButton: false,
                            confirmButtonText: "OK",
                            closeOnConfirm: true
                        },
                        function (isConfirm) {
                            location.reload();
                        });
                    }
                })
            } else {
                swal("Hủy!", null, "error");
            }
        });
    }
</script>
