@model IPagedList<BiTech.Library.Models.UserViewModel>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

    var listSach = ViewBag.ListSach;
    var list = (IEnumerable<BiTech.Library.Models.UserViewModel>)ViewBag.container;
    var i = 0;
}

<div class="title" style="float: left;">Danh sách thành viên</div>

<div class="clearfix">
    <div class="form-group row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary btn-sm" onclick="window.location='/HocSinh'">
                <i class="fa fa-arrow-circle-left" style="padding-right: 4px;font-size: 17px;"></i>Trở lại
            </button>
        </div>
    </div>

    <form action="/ExportThe/XuatQR_HS" class="clearfix">
        <div class="input-group form-group text-left">
            <div class="form-control form-control-sm p-0" style="position:relative;">
                <input type="text" id="txtKeyword" name="Keyword" class="form-control form-control-sm border-0" placeholder="Nhập tên hoặc mã thành học sinh...">
            </div>
            <div class="input-group-append">
                <button class="btn btn-sm btn-primary" id="btnSearch" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<table class="table table-bordered" style="margin-top:30px" id="tblFunction">
    <thead>
        <tr>
            <th scope="col"><input type="checkbox" id="CheckAll" /></th>
            <th>STT</th>
            <th scope="col">Tên học sinh</th>
            <th scope="col">Mã học sinh</th>
            <th scope="col">Lớp</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Giới tính</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i++;
            <tr class="">
                @if (list.Any(x => x.Id == item.Id))
                {
                    <td> <input type="checkbox" checked name="all" class="AddList " value="@item.Id"></td>
                }
                else
                {
                    <td> <input type="checkbox" name="all" class="AddList" value="@item.Id"></td>
                }
                <td>@i</td>
                <td>@item.Ten</td>
                <td>@item.MaSoThanhVien</td>
                <td>@item.LopHoc</td>
                <td>@item.NgaySinh</td>
                <td>@item.GioiTinh</td>
            </tr>
        }
    </tbody>
</table>
@if (@ViewBag.number > 20)
{
    @Html.PagedListPager(Model, page => Url.Action("XuatQR_HS", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
}
@section scripts{
    <script src="~/Scripts/Marc.js"></script>
    <script>
        var ExportCardObject = new controllerExportCard();
        ExportCardObject.initialize();
    </script>

    <script>
        $(document).keypress(function (e) {
            if (e.which === 13) {
                $("#btnSearch").submit();
            }
        });
    </script>

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>
    <script src="~/Scripts/AutocompleteSach.js"></script>
}



