@model BiTech.Library.Models.KesachViewModels

<form data-ajax="true" action="/KeSach/ThemAjax"
      id="update-information-form" class="form-horizontal"
      data-ajax-method="post"
      data-ajax-begin="updateStudentInfoBegin" data-ajax-success="updateStudentInfoSuccess">
    <div class="modal fade" tabindex="-1" role="dialog" id="edit-student-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nhập kệ sách</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-0 row">
                        <label class="col-sm-4 control-label col-form-label-sm" for="TenTheLoai">Tên kệ sách <span style="color:red">*</span></label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model=>model.TenKe, new { @class = "form-control form-control-sm" })
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            @Html.ValidationMessageFor(model => model.TenKe, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group m-0 row">
                        <label class="col-sm-4 control-label col-form-label-sm" for="MoTa">Vị trí <span style="color:red">*</span></label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.ViTri, new { @class = "form-control form-control-sm" })
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            @Html.ValidationMessageFor(model => model.ViTri, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group m-0 row">
                        <label class="col-sm-4 control-label col-form-label-sm" for="GhiChu">Ghi chú</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.GhiChu, new { @class = "form-control form-control-sm" })
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary has-spinner btn-sm"
                            id="update-student-info-save-button">
                        Lưu<i class="glyphicon glyphicon-refresh"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function updateStudentInfoBegin() {
        $("#update-student-info-save-button").addClass("active");
    }

    function updateStudentInfoSuccess(data) {
        $("#update-student-info-save-button").removeClass("active");

        if (data == true) {
            swal("Thành công", "Thêm xong", "success");
            $("#edit-student-modal").modal('hide');
            angular.element(document.getElementById('ListKeSach')).scope().GetAllData();
        }
        else {
            swal("Thất bại", "Thêm thất bại", "error");
        }
    }
</script>


