
@model BiTech.Library.Models.TacGiaViewModel

<form data-ajax="true" action="/TacGia/ThemAjax"
      id="update-information-form" class="form-horizontal"
      data-ajax-method="post"
      data-ajax-begin="updateStudentInfoBegin" data-ajax-success="updateStudentInfoSuccess">
    <div class="modal fade" tabindex="-1" role="dialog" id="edit-student-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nhập Ngôn Ngữ</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-4 control-label" for="TenTheLoai">Tên Tác giả</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model=>model.TenTacGia, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            @Html.ValidationMessageFor(model => model.TenTacGia, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-4 control-label" for="TenTheLoai">Quốc tịch</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.QuocTich, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            @Html.ValidationMessageFor(model => model.QuocTich, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-4 control-label" for="TenTheLoai">Mô tả</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.MoTa, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary has-spinner"
                            id="update-student-info-save-button">
                        Lưu<i class="glyphicon glyphicon-refresh"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function updateStudentInfoBegin() {
        $("#update-student-info-save-button").addClass("active");
    }

    function updateStudentInfoSuccess(data) {
        $("#update-student-info-save-button").removeClass("active");

        if (data == true) {
            swal("Thành công", "Thêm xong", "success");
            $("#edit-student-modal").modal('hide');
            //angular.element(document.getElementById('RQTacGiasach')).scope().GetAllData();
        }
        else {
            swal("Thất bại", "Thêm thất bại", "error");
        }
    }
</script>


