@model  BiTech.Library.Models.SachUploadModel
@{
    ViewBag.Title = "Thêm sách";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="Title">Thêm Sách</div>
<link href="~/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />
@*<script src="~/bower_components/jquery/dist/jquery.js"></script>*@
<div ng-app="LibraryApp" class="clearfix">
    @using (Html.BeginForm("Create", "Sach", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
    {
        @*<div class="form-group row">
            <label class="col-form-label col-sm-3 form-label" for="idmakiemsoat">Mã Kiểm Soát:</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.SachDTO.MaKiemSoat, new { @class = "form-control", @id = "idmakiemsoat", @readonly = "readonly" })
            </div>
        </div>*@

        <div class="form-group row">
            <label class="col-form-label col-sm-3 form-label" for="tensach">Tên Sách:</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.SachDTO.TenSach, new { @class = "form-control", @id = "tensach" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-3 form-label" for="ISBN">Mã ISBN:</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.SachDTO.ISBN, new { @class = "form-control", @id = "ISBN" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-3 form-label" for="ListTT">Thể Loại Sách:</label>
            <div class="col-sm-6">
                <div class="input-group mb-3" id="ListTT" ng-controller="BookGenresCtrlr" ng-init="GetAllData()">
                    @Html.DropDownListFor(m => m.SachDTO.IdTheLoai, new SelectList(new List<BiTech.Library.DTO.TheLoaiSach>(), "Id", "TenTheLoai"), "--Chọn Loại Sách--",
                       new { @class = "form-control", @ng_model = "IdNhaXuatBan", @data_ng_disabled = "!list", @ng_options = "s.TenTheLoai for s in list track by s.Id" })
                    @*s.Id as s.TenTheLoai for s in list*@
                    <div class="input-group-append">
                        <a href="@Url.Content("~/Sach/RequestThemTheLoaiGui")" class="btn btn-primary"
                           data-ajax="true" data-ajax-begin="RequestAltInsertGuiBegin" data-ajax-success="RequestAltInsertGuiSuccess">
                            <i class="fa fa-plus" style="line-height: 24px;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-3 form-label" for="idkesach">Kệ Sách:</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.SachDTO.IdKeSach, new { @class = "form-control", @id = "idkesach" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-3 form-label" for="ListNXB">Nhà Xuất Bản:</label>
            <div class="col-sm-6">
                <div class="input-group mb-3" id="ListNXB" ng-controller="PublishersCtrlr" ng-init="GetAllData()">
                    @Html.DropDownListFor(m => m.SachDTO.IdNhaXuatBan, new SelectList(new List<BiTech.Library.DTO.NhaXuatBan>(), "Id", "Ten"), "--Chọn NXB--",
                       new { @class = "form-control", @ng_model = "IdNhaXuatBan", @data_ng_disabled = "!list", @ng_options = "s.Ten for s in list track by s.Id" })
                    <div class="input-group-append">
                        <a href="@Url.Content("~/Sach/RequestThemNhaXuatBan")" class="btn btn-primary"
                           data-ajax="true" data-ajax-begin="RequestAltInsertGuiBegin" data-ajax-success="RequestAltInsertGuiSuccess">
                            <i class="fa fa-plus" style="line-height: 24px;"></i>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-3 form-label" for="sotrang">Số Trang:</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.SachDTO.SoTrang, new { @class = "form-control", @id = "sotrang" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-3 form-label" for="NgonNgu">Ngôn Ngữ:</label>
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.SachDTO.IdNgonNgu, new SelectList(Model.Languages, "Id", "Ten"), new { @class = "form-control", @id = "NgonNgu" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-3 form-label" for="NamSanXuat">Năm Xuất Bản:</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.SachDTO.NamXuatBan, new { @class = "form-control", @id = "NamSanXuat" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-3 form-label" for="GiaSach">Giá Sách:</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.SachDTO.GiaSach, new { @class = "form-control", @id = "GiaSach" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-3 form-label" for="PhiMuonSach">Phí mượn sách:</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.SachDTO.PhiMuonSach, new { @class = "form-control", @id = "PhiMuonSach" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-3 form-label" for="TomTat">Tóm Tắt:</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.SachDTO.TomTat, new { @class = "form-control", @id = "TomTat" })
                @Html.ValidationMessageFor(m => m.SachDTO.TomTat)
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-3 form-label" for="TomTat">Bìa Sách:</label>
            <div class="col-sm-6">
                <img id="blah" src="/Assets/Images/DefaultBookCover.jpg" alt="Bìa sách" style="width:220px" />
                @Html.TextBoxFor(m => m.FileImageCover, new { type = "file" })        
                @Html.ValidationMessageFor(m => m.FileImageCover)
            </div>
        </div>

        <div class="form-group row box_temp_lg">
            <label class="col-form-label col-sm-3 form-label"></label>
            <div class="col-sm-6">
                <input type="submit" class="btn btn-primary" name="btnThemSach" value="Thêm Mới" />
                <input type="button" value="Trở lại" onclick="location.href='/Sach';" class="btn btn-default" />
            </div>
        </div>

    }
</div>

<div id="ajax"></div>
@section scripts{
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="~/bower_components/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/bower_components/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/LibraryAngularJS.js"></script>

    <script>
        function RequestAltInsertGuiBegin() {
            $(this).addClass('active');
        }

        function RequestAltInsertGuiSuccess(data) {
            $(this).removeClass('active');

            $("#ajax").html(data);

            $("#edit-student-modal").modal();

            var form = $("#edit-student-modal").closest("form");
            form.removeData('validator');
            form.removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse(form);
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#FileImageCover").change(function () {
            readURL(this);
        });

        //$(document).ready(function () {
        //    setInterval(function () {
        //        angular.element(document.getElementById('ListTT')).scope().GetAllData();
        //        angular.element(document.getElementById('ListNXB')).scope().GetAllData();
        //    }, 30000);
        //});
    </script>
}