@model IPagedList<BiTech.Library.Models.BookView>
@using PagedList.Mvc;
@using PagedList;
@*@model BiTech.Library.Models.ListBooksModel*@
@{
    ViewBag.Title = "Sách";
    var listSach = ViewBag.ListSach;
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var TLS = (IEnumerable<BiTech.Library.DTO.TheLoaiSach>)ViewBag.theLoaiSach;
    var TG = (IEnumerable<BiTech.Library.DTO.TacGia>)ViewBag.tacGia;
    var NXB = (IEnumerable<BiTech.Library.DTO.NhaXuatBan>)ViewBag.NXB;

}

<div class="Title">Danh Sách</div>

<div class="clearfix">
    <h4 class="alert-danger">@TempData["alert"]</h4>
    <div class="clearfix pb-sm-2 pl-sm-2 row bar_mobile">
        <div class="clearfix pb-sm-2 pl-sm-2">
            @Html.ActionLink("Thêm mới", "Create", "Sach", null, new { @class = "btn btn-sm btn-primary ml-sm-2" })
            @Html.ActionLink("Thêm từ file Excel", "ImportFromExcel", "Sach", null, new { @class = "btn btn-sm btn-primary ml-sm-2" })
            <a class="btn btn-sm btn-primary ml-2" href="~/Tempalates/MauSach.xlsx">Tải mẫu Excel</a>
            @Html.ActionLink("Thêm từ Marc21", "ImportMarc", "Marc", null, new { @class = "btn btn-sm btn-primary ml-sm-2" })
            @Html.ActionLink("Xuất Marc21", "Index", "ExportMarc", null, new { @class = "btn btn-sm btn-primary ml-sm-2" })
            @*@Html.ActionLink("Xuất QR sách", "XuatQR", "Sach", null, new { @class = "btn btn-sm btn-primary ml-sm-2" })*@
            @Html.ActionLink("Xuất QR sách", "XuatQR_HS", "ExportThe", null, new { @class = "btn btn-sm btn-primary ml-sm-2" })
            @Html.ActionLink("Xoá sách", "DeleteMany", "Sach", null, new { @class = "btn btn-sm btn-danger ml-sm-2" })
        </div>
    </div>

    <form action="/Sach/Index" class="clearfix" id="search_short">
        <div class="col-sm-12 font-weight-bold">Tìm kiếm: </div>
        <div class="clearfix m-0">

            <div class="input-group col-md-3 col-sm-12 col-xs-12 form-group pull-right input-group-sm px-2 mt-1 mb-1">
                <input type="text" id="txtKeyword" name="Keyword" class="form-control form-control-sm" placeholder="Tên sách...">
                <div class="input-group-append">
                    <button class="btn btn-primary btn-sm" id="btnSearch" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-3 col-sm-12  form-group pull-right px-2 mt-1 mb-1">
                <select class="form-control form-control-sm" name="TheLoaiSach" id="ddlCategorySearch">
                    <option value="">--Thể loại sách--</option>
                    @foreach (var tls in TLS)
                    {
                        <option value="@tls.Id" @((@tls.Id == @ViewBag.theLoaiSach_selected) ? "selected" : " ")>@tls.TenTheLoai</option>
                    }
                </select>
            </div>
            <div class="col-md-3 col-sm-12  form-group pull-right px-2 mt-1 mb-1">
                <select class="form-control form-control-sm" name="TenTacGia" id="ddlCategorySearch">
                    <option value="">--Tác giả--</option>
                    @foreach (var tg in TG)
                    {
                        <option value="@tg.Id" @((@tg.Id == @ViewBag.tacGia_selected) ? "selected" : " ")>@tg.TenTacGia</option>
                    }
                </select>
            </div>
            <div class="col-md-3 col-sm-12  form-group pull-right px-2 mt-1 mb-1">
                <select class="form-control form-control-sm" name="TenNXB" id="">
                    <option value="">--Nhà xuất bản--</option>
                    @foreach (var nxb in NXB)
                    {
                        <option value="@nxb.Id" @((@nxb.Id == @ViewBag.NXB_selected) ? "selected" : " ")>@nxb.Ten</option>
                    }
                </select>
            </div>
        </div>
        <div class="row m-0 mb-2">
            <div class="col-sm-12 font-weight-bold">Sắp xếp: </div>
            <div class="col-md-3 col-sm-12  form-group px-2 mt-1 mb-1">
                @{
                    Dictionary<string, object> arry_short = new Dictionary<string, object>();
                    arry_short.Add("1", @Html.Raw("Thứ tự A-Z &#xf175;"));
                    arry_short.Add("11", @Html.Raw("Thứ tự Z-A &#xf176;"));
                    arry_short.Add("2", @Html.Raw("Mã kiểm soát &#xf175;"));
                    arry_short.Add("22", @Html.Raw("Mã kiểm soát &#xf176;"));
                    arry_short.Add("3", @Html.Raw("Thời gian nhập sách &#xf175;"));
                    arry_short.Add("33", @Html.Raw("Thời gian nhập sách &#xf176;"));
                    arry_short.Add("4", @Html.Raw("Năm xuất bản &#xf175;"));
                    arry_short.Add("44", @Html.Raw("Năm xuất bản &#xf176;"));
                }
                <select class="form-control form-control-sm" name="SapXep" id="SapXep" onchange="$('#search_short').submit() ">
                    <option value="">--Sắp xếp--</option>
                    @foreach (var item_sx in arry_short)
                    {
                        <option value="@item_sx.Key" @((@item_sx.Key == @ViewBag.SapXep_selected) ? "selected" : " ")>@item_sx.Value</option>
                    }
                </select>
            </div>
        </div>
    </form>
    @{int i = 1;}
    <div class="book_content clearfix">
        @foreach (var item in Model)
        {
            <div Class="book_box_v3 clearfix">
                <div class="container-box-window clearfix">
                    <div class="top">
                        <div class="title" title="@item.SachDTO.TenSach"> <span>@(i + (ViewBag.pages - 1) * ViewBag.pageSize)</span> @item.SachDTO.TenSach</div>
                    </div>
                    <div class="content-box-window clearfix">
                        
                        <div class="book_image">
                            <img src="@(string.IsNullOrEmpty(item.SachDTO.LinkBiaSach) == false ? item.SachDTO.LinkBiaSach : "/Content/Images/book.png" )"
                                 onerror="this.src = '/Content/Images/book.png';">
                        </div>
                        <div class="book_cell_information clearfix width_left">
                            <div class="book_information clearfix">
                                <span>
                                    <span class="book_title_information">Mã kiểm soát:</span>
                                    @item.SachDTO.MaKiemSoat
                                </span>
                            </div>
                            <div class="book_information clearfix">
                                <span>
                                    <span class="book_title_information">Tác giả:</span>
                                    @item.Ten_TacGia
                                </span>
                            </div>
                            <div class="book_information clearfix">
                                <span>
                                    <span class="book_title_information">ISBN:</span>
                                    @item.SachDTO.ISBN
                                </span>
                            </div>
                            <div class="book_information clearfix">
                                <span>
                                    <span class="book_title_information">Ngôn ngữ:</span>
                                    @item.Ten_NgonNgu
                                </span>
                            </div>
                        </div>
                        <div class="book_cell_information clearfix width_right">
                            <div class="book_information clearfix">
                                <span>
                                    <span class="book_title_information">Năm xuất bản:</span>
                                    @item.SachDTO.NamXuatBan
                                </span>
                            </div>
                            <div class="book_information clearfix">
                                <span>
                                    <span class="book_title_information">Tổng số sách:</span>
                                    @item.SachDTO.SoLuongTong
                                </span>
                            </div>
                            <div class="book_information clearfix">
                                <span>
                                    <span class="book_title_information">Còn lại:</span>
                                    @item.SachDTO.SoLuongConLai
                                </span>
                            </div>
                            <a href="@Url.Action("Edit", new { id=item.SachDTO.Id })"
                               class="btn btn-primary btn-sm"
                               style="position: absolute; bottom: 10px; right: 10px; font-size: 15px">Xem</a>
                        </div>
                    </div>
                </div>
            </div>
            { i++; }
        }
    </div>
    <div class="clearfix"></div>
    <br />
    @if (@ViewBag.number > 30)
    {
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    }

</div>
@*<button value="Xoa" onclick="XoaCauHoi()" />*@
<script src="~/bower_components/sweetalert/dist/sweetalert.min.js"></script>

@section scripts{
    <script>
        $(document).keypress(function (e) {
            if (e.which == 13) {
                $("#btnSearch").submit();
            }
        });
    </script>
    <script src="~/Scripts/AutocompleteSach.js"></script>
    <script>
        function XoaCauHoi() {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        swal("Deleted!", "Your imaginary file has been deleted.", "success");
                    } else {
                        swal("Cancelled", "Your imaginary file is safe :)", "error");
                    }
                });
        }
    </script>
}