@model  BiTech.Library.Models.SachViewModels
@{
    ViewBag.Title = "ThemSach";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="Title">Thêm Sách</div>
<link href="~/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />
@*<script src="~/bower_components/jquery/dist/jquery.js"></script>*@
<div ng-app="LibraryApp" class="container">
    @using (Html.BeginForm("Them", "Sach", FormMethod.Post, new { role = "form" }))
    {

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="tensach">Tên Sách:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.TenSach, new { @class = "form-control", @id = "tensach" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="iddausach">Id Đầu Sách:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.IdDauSach, new { @class = "form-control", @id = "iddausach" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="ListTT">Id Loại Sách:</label>
            <div class="col-sm-10">
                <div id="ListTT" ng-controller="BookGenresCtrlr" ng-init="GetAllData()">
                    @Html.DropDownListFor(m => m.IdTheLoai, new SelectList(new List<BiTech.Library.DTO.TheLoaiSach>(), "Id", "Ten"), "--Chọn Loại Sách--",
                       new { @class = "form-control", @ng_model = "IdNhaXuatBan", @data_ng_disabled = "!list", @ng_options = "s.Id as s.TenTheLoai for s in list" })

                    <a href="@Url.Content("~/Sach/RequestThemTheLoaiGui")" data-ajax="true"
                       data-ajax-begin="RequestAltInsertGuiBegin" data-ajax-success="RequestAltInsertGuiSuccess">Nhập loại</a>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="idkesach">Id Kệ Sách:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.IdKeSach, new { @class = "form-control", @id = "idkesach" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="ListNXB">Id Nhà Xuất Bản:</label>
            <div class="col-sm-10">
                <div id="ListNXB" ng-controller="PublishersCtrlr" ng-init="GetAllData()">
                    @Html.DropDownListFor(m => m.IdNhaXuatBan, new SelectList(new List<BiTech.Library.DTO.NhaXuatBan>(), "Id", "Ten"), "--Chọn NXB--",
                       new { @class = "form-control", @ng_model = "IdNhaXuatBan", @data_ng_disabled = "!list", @ng_options = "s.Id as s.Ten for s in list" })

                    <a href="@Url.Content("~/Sach/RequestThemNhaXuatBan")" data-ajax="true"
                       data-ajax-begin="RequestAltInsertGuiBegin" data-ajax-success="RequestAltInsertGuiSuccess">Nhập nxb</a>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="idmakiemsoat">Id Mã Kiểm Soát:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.MaKiemSoat, new { @class = "form-control", @id = "idmakiemsoat" })
            </div>
        </div>

        @*<div class="form-group row">
            <label class="col-form-label col-sm-2" for="hinh">Hình:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Hinh, new { @class = "form-control", @id = "hinh" })
            </div>
        </div>*@

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="sotrang">Số Trang:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.SoTrang, new { @class = "form-control", @id = "sotrang" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="NgonNgu">Ngôn Ngữ:</label>
            <div class="col-sm-10">
                @Html.EnumDropDownListFor(m => m.NgonNgu, new { @class = "form-control", @id = "NgonNgu" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="NamSanXuat">Năm Sản Xuất:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.NamSanXuat, new { @class = "form-control", @id = "NamSanXuat" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="GiaSach">Giá Sách:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.GiaSach, new { @class = "form-control", @id = "GiaSach" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="LinkBiaSach">Link Bìa Sách:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.LinkBiaSach, new { @class = "form-control", @id = "LinkBiaSach" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="TomTat">Tóm Tắt:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.TomTat, new { @class = "form-control", @id = "TomTat" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2"></label>
            <div class="col-sm-10">
                <input type="submit" class="btn btn-primary" name="btnThemSach" value="Thêm Mới" />
            </div>
        </div>
        <br/>
        
    }
</div>

<div id="ajax"></div>
@section scripts{
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="~/bower_components/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/bower_components/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/LibraryAngularJS.js"></script>

    <script>
        function RequestAltInsertGuiBegin() {
            $(this).addClass('active');
        }

        function RequestAltInsertGuiSuccess(data) {
            $(this).removeClass('active');

            $("#ajax").html(data);
            $("#edit-student-modal").modal();

            var form = $("#edit-student-modal").closest("form");
            form.removeData('validator');
            form.removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse(form);
        }

        //$(document).ready(function () {
        //    setInterval(function () {
        //        angular.element(document.getElementById('ListTT')).scope().GetAllData();
        //        angular.element(document.getElementById('ListNXB')).scope().GetAllData();
        //    }, 30000);
        //});
    </script>
}