@model IPagedList<BiTech.Library.Models.BookView>
@using PagedList.Mvc;
@using PagedList;
@{
                /**/

                ViewBag.Title = "Xuất QR sách";
                Layout = "~/Views/Shared/_LayoutMain.cshtml";

                var list = (IEnumerable<BiTech.Library.Models.IDSach>)ViewBag.container;
                var i = 0;
}
<link href="~/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />
<div class="title" style="float: left;">Xuất mã QR theo đầu sách</div>
<div class="clearfix"></div>
@if (@ViewBag.SearchFail != "" || @ViewBag.NonItem != null)
{
    <div class="alert p-2 alert-danger alert-dismissible fade show">
        <button type="button" class="close p-1" data-dismiss="alert">&times;</button>
        @if (@ViewBag.SearchFail != "")
        {
            <strong>Thông báo!</strong> @ViewBag.SearchFail
        }
        @if (@ViewBag.NonItem != "")
        {
            @ViewBag.NonItem
        }
    </div>
}
<div class="clearfix">
    <form action="/Sach/XuatQR_Mutil" class="clearfix">
        <div class="input-group form-group text-left">
            <div class="form-control form-control-sm p-0" style="position:relative;">
                <input type="text" id="txtKeyword" name="Keyword" class="form-control form-control-sm border-0"
                       placeholder="Nhập tên hoặc mã sách...">
            </div>
            <div class="input-group-append">
                <button class="btn btn-sm btn-primary" id="btnSearch" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<form action="/Sach/XuatQR_Mutil" method="post" class="clearfix" id="ExportMany">
    @if (list.Count() > 0)
    {
        <div class="clearfix pb-sm-2 pl-sm-2 row bar_mobile">
            <input type="button" value="Xuất thẻ" onclick="XuatThe()" class="btn btn-sm btn-danger ml-sm-2" id="btnXuat" />
        </div>
    }
    else
    {
        <div class="clearfix pb-sm-2 pl-sm-2 row bar_mobile">
            <input type="button" value="Xuất thẻ" onclick="XuatThe()" class="btn btn-sm btn-danger ml-sm-2" id="btnXuat" disabled />
        </div>
    }
    <div class="pb-sm-2 pl-sm-3 row bar_mobile clearfix">
        <table class="table table-bordered" id="tblFunction">
            <thead>
                <tr class="table-info text-center">
                    <th width="10" scope="col"><input type="checkbox" id="CheckAll_Book" /></th>
                    <th width="10">STT</th>
                    <th width="30%" scope="col">Tên sách</th>
                    <th align="center" width="20%">Mã kiểm soát</th>
                    <th width="20%" scope="col">Tác giả</th>
                    <th width="20%" align="center">Năm xuất bản</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    i++;
                    <tr class="text-center">
                        @if (list.Any(x => x.Id == item.SachDTO.Id))
                        {
                            <td> <input type="checkbox" checked name="chon" class="AddList_Book" value="@item.SachDTO.Id"></td>
                        }
                        else
                        {
                            <td> <input type="checkbox" name="chon" class="AddList_Book" value="@item.SachDTO.Id"></td>
                        }
                        <td width="10" align="center">@i</td>
                        <td width="30%">@item.SachDTO.TenSach</td>
                        <td width="20%" align="center">@item.SachDTO.MaKiemSoat</td>
                        <td width="20%">@item.Ten_TacGia</td>
                        <td width="20%" align="center">@item.SachDTO.NamXuatBan</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
@if (@ViewBag.number > 30)
{
    @Html.PagedListPager(Model, page => Url.Action("XuatQR_Mutil", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
}
@section scripts{
    <script src="~/Scripts/ExportCard.js"></script>
    <script src="~/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            if ($('.AddList_Book:checked').length === $('#tblFunction tbody tr .AddList_Book').length) {
                $('#CheckAll_Book').prop('checked', true);
            }
        });
    </script>
    <script>
        $(document).keypress(function (e) {
            if (e.which === 13) {
                $("#btnSearch").submit();
            }
        });
    </script>

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>
    <script>

        $(document).ready(function () {
            //Chọn Sách
            $("#CheckAll_Book").click(function () {
                var status = this.checked;
                $("input[name='chon']").each(function () { this.checked = status; })
                if (status == true) {
                    $('.AddList_Book').each(function () {
                        if ($('.AddList_Book').is(':checked')) {
                            var idCheck = $(this).val();
                            AddList(idCheck);
                        }
                    })
                }
                else {
                    DeleteAll();
                }
            });
        });

        $('.AddList_Book').click(function () {
            if ($(this).is(":checked")) {
                var idCheck = $(this).val();
                AddList(idCheck);
            }
            else {
                var rmIdCheck = $(this).val();
                DeleteItem(rmIdCheck);
            }

            if ($('.AddList_Book:checked').length === $('#tblFunction tbody tr .AddList_Book').length) {
                $('#CheckAll_Book').prop('checked', true);
            } else {
                $('#CheckAll_Book').prop('checked', false);
            }

        });

        $("[type=checkbox]").change(function () {
            $('#btnXuat').prop('disabled', $('.AddList_Book:checked').length == 0);
        });

        //thêm dánh sách
        function AddList(idCheck) {
            $.ajax({
                url: '/Sach/AddList',
                data: {
                    Id: idCheck
                },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    if (response.status) {
                        return true;
                    }
                }
            });
        }

        //xóa từng danh sách
        function DeleteItem(rmIdCheck) {
            $.ajax({
                url: '/Sach/DeleteItem',
                data: {
                    Id: rmIdCheck
                },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    if (response.status) {
                        return true;
                    }
                }
            });
        }

        //xóa từng danh sách
        function DeleteAll() {
            $.ajax({
                url: '/Sach/DeleteAll',
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    if (response.status) {
                        return true;
                    }
                }
            });
        }

        //Xuat
        function XuatThe() {
            $("#ExportMany").submit();
        }
    </script>
}