@model BiTech.Library.Models.PhieuXuatSachModels
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="Title">Chi Tiết Phiếu Xuất Kho</div>
<br />
<button type="button" class="btn btn-primary btn-sm" onclick="window.location='@Url.Action("Index", "PhieuXuatSach")'">
    <i class="fa fa-arrow-circle-left" style="padding-right: 4px;font-size: 17px;"></i>Trở lại
</button>
<hr />
<div class="container-box-window clearfix">
    <div class="top">
        <span class="">Thông tin phiếu xuất</span>
    </div>
    <div class="content-box-window">
        <div class="container">
            <div class="form-group row">
                <label class="col-form-label col-sm-2" for="tensach">Mã thành viên</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.IdUserAdmin, new { @class = "form-control form-control-sm", @id = "IdUserAdmin", @readonly = true })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2" for="tensach">Ngày nhập:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.NgayXuat, new { @class = "form-control form-control-sm", @id = "NgayNhap", @readonly = true })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2" for="tensach">Ghi chú:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.GhiChu, new { @class = "form-control form-control-sm", @id = "GhiChu", @readonly = true })
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="container-box-window clearfix">
    <div class="top">
        <span class="">Danh sách chi tiết phiếu xuất</span>
    </div>
    <div class="content-box-window">
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="table-info">
                    <th width="50" align="right">STT</th>
                    <th>Tên sách</th>
                    <th>Số lượng</th>
                    <th>Lý do</th>
                    <th>Trạng thái sách</th>

                </tr>
            </thead>
            <tbody>
                @{int i = 1;}
                @foreach (var item in ViewBag.lstctxuat)
                {
                    <tr>
                        <td align="center">@i.ToString()</td>
                        <td>@item.ten</td>
                        <td>@item.soLuong</td>
                        <td>@item.GhiChuDon</td>
                        <td>@item.tenTinhTrang</td>
                    </tr>
                    i++;
                }
            </tbody>

        </table>
        @*<input type="button" onclick="goBack()" class="btn btn-default btn-sm" value="Trở lại" />*@
    </div>
</div>


        





