@model PagedList.IPagedList<BiTech.Library.Models.PhieuXuatSachModels>
@using PagedList.Mvc
@{
    ViewBag.Title = "Danh sách phiếu xuất";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="Title">Danh Sách Phiếu Xuất</div>
<div class="mb-2">
	@Html.ActionLink("Thêm mới", "TaoPhieuXuatSach", null, new { @class = "btn btn-primary btn-sm" })
</div>

<table class="table table-hover table-bordered">

    <thead>
        <tr class="table-info text-center">
            <th width="50" align="right">STT</th>
            <th>Người xuất</th>
            <th>Ghi chú</th>
            <th>Ngày xuất</th>
            <th></th>
        </tr>
    </thead>
    @{int i = 1;}
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td align="center">@(i + (ViewBag.pages - 1) * ViewBag.pageSize)</td>
                <td>@item.UserName</td>
                <td>@item.GhiChu</td>
                <td>@String.Format("{0:dd-MM-yyyy}", item.NgayXuat)</td>
                <td>
                    <a class="color-white btn btn-primary btn-sm btn-inTable" href="@Url.Action("Details",new { id = item.IdPhieuXuat})">
                        Xem chi tiết
                    </a>
                </td>
            </tr>
            { i++; }
        }
    </tbody>

</table>

<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>



