@model BiTech.Library.Models.PhieuXuatSachModels
@{
    ViewBag.Title = "TaoPhieuXuatSach";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/LibraryAngularJS.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


<div class="Title">Tạo Phiếu Xuất Sách</div>
<br />
<button type="button" class="btn btn-primary btn-sm" onclick="window.location='@Url.Action("Index", "PhieuXuatSach")'">
    <i class="fa fa-arrow-circle-left" style="padding-right: 4px;font-size: 17px;"></i>Trở lại
</button>
<hr />
<div ng-app="LibraryApp" class="clearfix">
    <div class="form-group">
        <div class="">
            <div ng-cloak ng-controller="ExportBookCtrlr" class="">

                @*@Html.TextAreaFor(m => m.GhiChu);*@
                <div class="">

                    <div class="container-box-window clearfix">
                        <div class="top">
                            <span class="">Thông tin phiếu nhập</span>
                        </div>
                        <div class="content-box-window">
                            <div class="form-group row">
                                @Html.Label("Mã sách", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    <input id="idSach" name="idSach"
                                           onkeydown="if (event.keyCode == 13) { EnterMaSach() }"
                                           @*onfocusout="EnterMaSach()"*@
                                           placeholder="Nhập mã sách" ng-model="maKS" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.Label("Số lượng", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    <input id="SoLuong" placeholder="Số lượng" ng-model="soLuong" class="form-control form-control-sm" type="number" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.Label("Trạng thái sách", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.DropDownList("TrangThai", new SelectList(ViewBag.listtt, "Id", "TenTT"), "--Chọn tình trạng--", new { ng_model = "idTrangThai", @class = "form-control form-control-sm" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @*@Html.LabelFor(m => m.GhiChu, new { @class = "col-md-2 control-label" })*@
                                @Html.Label("Lý do", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    <input id="LyDo" name="LyDo" placeholder="Lý do" ng-model="GhiChuDon" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">
                                    <input type="button" ng-click="addItema()" value="Thêm" class="btn btn-primary btn-sm" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="container-box-window clearfix">
                        <div class="top">
                            <span class="">Danh sách sách xuất</span>
                        </div>
                        <div class="content-box-window">
                            <div class="form-group row">

                                <div class="danhsach-mt-sach-old col-md-12">
                                    <table class="table table-hover table-bordered mb-0" border="1">
                                        <thead>
                                            <tr class="table-info text-center">
                                                <th width="50">STT</th>
                                                <th width="15%">Mã kiểm soát</th>
                                                <th width="40%">Tên sách</th>
                                                <th width="10%">Trạng thái sách</th>
                                                <th width="10%">Số lượng</th>
                                                <th width="15%">Lý do</th>
                                                <th width="100" style="text-align: center;">
                                                    <i class="fa fa-trash-o" title="Xoá tất cả" ng-click="ResetListBookQueue()" style="font-size:20px; cursor:pointer;"></i>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
											<tr class="text-center" ng-repeat="x in list | orderBy : '-MaKiemSoat'" my-repeat-directive>
												<td align="center">{{$index + 1}}</td>
												<td>{{ x.MaKiemSoat }}</td>
												<td>{{ x.ten }}</td>
												<td>{{ x.tenTinhTrang }}</td>
												@*<td width="100px">{{x.soLuong}}</td>*@
												@*VINH*@
												<td width="100px">
													<div style="display: flex;">
														<div style="width:100%">
															<input type="number" ng-value="{{x.soLuong}}" id="List_{{x.MaKiemSoat}}_{{x.IdTinhTrang}}"
																   class="form-control form-control-sm"
																   min="1"
																   required oninput="this.value=this.value.replace(/[^0-9]/g,'');">
														</div>
													</div>
												</td>
												@*END VINH*@
												<td>{{x.GhiChuDon}}</td>
												<td align="center">
													<button ng-click="removeItem(x.MaKiemSoat, x.IdTinhTrang)" class="btn btn-sm btn-danger" style="cursor:pointer;float:none">×</button>
												</td>
											</tr>
                                        </tbody>
                                    </table>
                                </div>

                                @*<div class="col-md-2"></div>
                                    <div class="col-md-offset-2 col-md-10">
                                        <div ng-repeat="s in list" id="lstItem">
                                            {{s.ten}} - Số Lượng: {{s.soLuong}} - Tình Trạng: {{s.tenTinhTrang}} - Ghi Chú:{{s.GhiChu}}
                                            <button ng-click="removeItem($index)" class="btn btn-sm btn-danger" style="cursor:pointer;float:right">×</button><hr />
                                        </div>
                                    </div>*@
                            </div>

                            @using (Html.BeginForm("TaoPhieuXuatSach", "PhieuXuatSach", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <div class="form-group row">
                                    <label class="col-md-2 control-label">Ghi chú phiếu nhập sách</label>
                                    <div class="col-md-10">
                                        <textarea name="GhiChu" placeholder="Ghi chú" ng-model="GhiChu" class="form-control form-control-sm"></textarea>
                                    </div>
                                </div>

                                <div ng-repeat="s in list">
                                    <input hidden="hidden" ng-cloak class="btn btn-default" name="listChiTietJsonString" value="{{s}}" />
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Tạo phiếu" />
                                        @*<input type="button" onclick="goBack()" class="btn btn-default btn-sm" value="Trở lại" />*@
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                    <hr />
                </div>


                @* gán dữ liệu cho listbox - truyền dữ liệu xuống DB *@
                @*<div class="form-group">
                        @Html.ListBoxFor(m => m.MaSach, new SelectList(new List<String>(), "IdDauxSach"),
                             new { @class = "form-control", @ng_model = "IdBook", @data_ng_disabled = "!list", @ng_options = "s.IdDauxSach as s.TenSach for s in list" })
                    </div>*@
            </div>
            <div ng-cloak ng-controller="ExportBookCtrlr" class="w3-card-2 w3-margin" style="max-width:600px;">

                @*@Html.TextAreaFor(m => m.GhiChu);*@

                @* gán dữ liệu cho listbox - truyền dữ liệu xuống DB *@
                @*<div class="form-group">
                        @Html.ListBoxFor(m => m.MaSach, new SelectList(new List<String>(), "IdDauxSach"),
                             new { @class = "form-control", @ng_model = "IdBook", @data_ng_disabled = "!list", @ng_options = "s.IdDauxSach as s.TenSach for s in list" })
                    </div>*@
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("#idSach").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/PhieuNhapSach/AutoComplete",
                        dataType: "json",
                        method: "post",
                        data: { a: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.MaKiemSoat, value: item.MaKiemSoat };
                            }))
                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })

        function EnterMaSach() {
            var idBook = $("#idSach").val();
            console.log(idBook);
			if (idBook == "") {
				alert('Chưa nhập mã sách');
				$("#idSach").focusout();	
			}
            else {
                $.ajax({
                    type: "GET",
                    url: "@(Url.Action("GetBookByID", "PhieuNhapSach"))",
                    data: "idSach=" + idBook,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        console.log('Tim thay sach');
                        $("#idSach").val(data.MaKiemSoat);
                        $("#SoLuong").focus();
                    },
                    error: function () {
                        alert('Mã sách không tồn tại');
                        $("#idSach").val("");
                    }
                });
            }
        }
    </script>
}



