@model BiTech.Library.Models.PhieuXuatSachModels
@{
    ViewBag.Title = "TaoPhieuXuatSach";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/LibraryAngularJS.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


<div class="Title">Tạo Phiếu Xuất Sách</div>
<br />
<button type="button" class="btn btn-primary btn-sm" onclick="window.location='@Url.Action("Index", "PhieuXuatSach")'">
    <i class="fa fa-arrow-circle-left" style="padding-right: 4px;font-size: 17px;"></i>Trở lại
</button>
<hr/>
<div ng-app="LibraryApp" class="clearfix">
    @using (Html.BeginForm("TaoPhieuXuatSach", "PhieuXuatSach", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        <div class="form-group">
            <div class="">

                <div ng-cloak ng-controller="ExportBookCtrlr" class="">

                    @*@Html.TextAreaFor(m => m.GhiChu);*@
                    <div class="">

                        <div class="container-box-window clearfix">
                            <div class="top">
                                <span class="">Thông tin phiếu nhập</span>
                            </div>
                            <div class="content-box-window">
                                <div class="form-group row">
                                    @Html.Label("Mã sách", new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <input id="idSach" name="idSach" onkeydown="if (event.keyCode == 13) { return false; }" placeholder="Nhập mã sách" ng-model="maKS" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.Label("Số lượng", new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <input id="SoLuong" placeholder="Số lượng" ng-model="soLuong" class="form-control form-control-sm" type="number" autocomplete="off">  
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.Label("Trạng thái", new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("TrangThai", new SelectList(ViewBag.listtt, "Id", "TenTT"), "--Chọn tình trạng--", new { ng_model = "idTrangThai", @class = "form-control form-control-sm" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @*@Html.LabelFor(m => m.GhiChu, new { @class = "col-md-2 control-label" })*@
                                    @Html.Label("Ghi chú", new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <textarea name="GhiChu" placeholder="Ghi chú" ng-model="GhiChu" class="form-control form-control-sm"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-10">
                                        <input type="button" ng-click="addItema()" value="Thêm" class="btn btn-primary btn-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="container-box-window clearfix">
                            <div class="top">
                                <span class="">Danh sách sách xuất</span>
                            </div>
                            <div class="content-box-window">
                                <div class="">
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-offset-2 col-md-10">
                                            <div ng-repeat="s in list" id="lstItem">
                                                {{s.ten}} - Số Lượng: {{s.soLuong}} - Tình Trạng: {{s.tenTinhTrang}} - Ghi Chú:{{s.GhiChu}}
                                                <button ng-click="removeItem($index)" class="btn btn-sm btn-danger" style="cursor:pointer;float:right">×</button><hr />
                                            </div>



                                            <div ng-repeat="s in list">
                                                <input hidden="hidden" ng-cloak class="btn btn-default" name="listChiTietJsonString" value="{{s}}" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <p class="w3-text-red">{{errortext}}</p>
                                <div class="form-group row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Tạo mới" />
                                        <input type="button" onclick="goBack()" class="btn btn-default btn-sm" value="Trở lại" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    @* gán dữ liệu cho listbox - truyền dữ liệu xuống DB *@
                    @*<div class="form-group">
                            @Html.ListBoxFor(m => m.MaSach, new SelectList(new List<String>(), "IdDauxSach"),
                                 new { @class = "form-control", @ng_model = "IdBook", @data_ng_disabled = "!list", @ng_options = "s.IdDauxSach as s.TenSach for s in list" })
                        </div>*@
                </div>
                <div ng-cloak ng-controller="ExportBookCtrlr" class="w3-card-2 w3-margin" style="max-width:600px;">

                    @*@Html.TextAreaFor(m => m.GhiChu);*@

                    @* gán dữ liệu cho listbox - truyền dữ liệu xuống DB *@
                    @*<div class="form-group">
                            @Html.ListBoxFor(m => m.MaSach, new SelectList(new List<String>(), "IdDauxSach"),
                                 new { @class = "form-control", @ng_model = "IdBook", @data_ng_disabled = "!list", @ng_options = "s.IdDauxSach as s.TenSach for s in list" })
                        </div>*@
                </div>
            </div>
        </div>

    }
</div>

@section scripts{

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("#idSach").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/PhieuNhapSach/AutoComplete",
                        dataType: "json",
                        method: "post",
                        data: { a: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.MaKiemSoat, value: item.MaKiemSoat };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })
    </script>
}



